 <link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
     <a type="button" class="btn btn-primary" href="../bib_recursos/?acc=nuevo"><i class=" fa fa-plus" style="margin-right:5px"></i><h5 translate="nuevo" style="margin:auto"></h5></a>
    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
           <div class="hvr-float cont-img" ng-repeat="row in recursos" >
            <a href="" ng-click="eliminar(row.id_personal,row.orden)"><div class="namelevel text-right i"><i class="fa fa-trash"></i></div></a>
            <a href="../bib_recursos/?acc=editar&dni={{row.id_personal}}&orden={{row.orden}}">
                <img class="img img-responsive" src="{{row.caratula}}" style="width:100%; overflow:hidden" >
            </a>
            <div class="namelevel text-center"><strong>{{row.titulo}}</strong></div>
             
        </div>              
    </div>
    </div>
    </div> 
</body>