
<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
	<div id="nuevoante">
	<div class="col-md-12">
		<h4>Búsqueda Avanzada</h4>

	</div>


	<div class="row" style="margin:20px">
	<div class="col-md-3" >
		<label for="">Categoría</label>
		<div class="cajaselect"><select class="form-control conestilo" ng-model="buscar.categorias_id" ng-options="item.id_categoria as item.descripcion for item in categorias">
			<option value="">Elige Categoria</option></select>
		</div>
	</div>
	<div class="col-md-3" >
		<label for="">Sub categoría</label>
		<div class="cajaselect">
		<select class=" form-control conestilo" ng-model="buscar.subcategoria_id" ng-options="item.id_subcategoria as item.descripcion for item in subcategorias">
  			<option value="">Elige Sub Categoria</option>
		</select></div>
	</div>
	<div class="col-md-3" >
			<label for="">Autor</label>
			<div class="cajaselect"><select class=" form-control conestilo" ng-model="buscar.autor_id" ng-options="item.id_autor as item.nombre+' '+item.ap_paterno+' '+item.ap_materno for item in autor">
  			<option value="">Elige Autor</option>
		</select></div>
	</div>
	</div>
	<div class="row" style="margin:20px">
		<div class="col-md-12">
		<label for=""> Contiene las palabras:</label></div>
		<div class="col-md-9 ">
			<input type="text" name="" id="" style="height:30px; width: 100%" ng-model="texto">
		</div>
	</div>
	
	<div class="col-md-12 col-xs-12 input-group" style="display:flex; justify-content:space-around">
		  	<button type="button" class="btn btn-success btn-md" ng-click="aceptar()">Buscar</button>
		  	<button type="button" class="btn btn-primary btn-md" ng-click="cancelar()">Limpiar Datos</button>
		  	<a href="#/" type="button" class="btn btn-danger btn-md">Cancelar</a>
	</div>
	</div>

	<div class="container" id="nuevo25" style="display:none">
		<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in estudio">
            <div class="namelevel text-right i" style="border-bottom:2px solid #4466bb">
                 <a href="" ng-click="agregarFavorito(row.id_estudio)"><i class="fa fa-star-o"></i></a>
            </div>
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verLibro(row.id_estudio)" style="width:100%; overflow: hidden">

            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
            
        </div>							
    </div>
    <a href="" type="button" class="btn btn-primary btn-md" ng-click="atras()">Atrás</a></div> 
</div>
</body>
