.seepage{ width: 100%; height: 100%; overflow: auto; }
._subirfileedit .toolbaredit, ._subirvisoredit .toolbaredit{display: none;}
._subirfileedit:hover .toolbaredit, ._subirvisoredit:hover .toolbaredit {position: absolute; display: inline-flex; left:48%; top: 0px; z-index: 2;}
._subirfileedit.nohover:hover .toolbaredit{ display: none } 
.islayout:hover{ background:#ffeb3b14; border: 1px dashed #ccc;}

.filemedia[src=""], .filemedia:not([src=""]) ~ img{ display: none; }
.filemedia:not([src=""]), .filemedia[src=""] ~ img { display: inline-block;}

.tmpmediapage[src=""], .tmpmediapage:not([src=""]) ~ img{ display: none; }
.tmpmediapage:not([src=""]), .tmpmediapage[src=""] ~ img { display: block;}

#paneldisenio{border-bottom: 1ex solid #ffc124;}
#accionesedicion{position: fixed; right: 1ex; bottom: 0ex; z-index: 999; display: block;}
.btnnavegacionPage{ display: inline-flex;}
::-webkit-scrollbar { width: 8px;}
/*::-webkit-scrollbar { width: 10px;}*/
::-webkit-scrollbar-thumb { background: #888;}
::-webkit-scrollbar-thumb:hover { background: #222; }
/*.embed-responsive::before{ display: block; }
.embed-responsive iframe{ display: none; }*/