	.filemedia, ._subirvisoredit > div > iframe { display: none }
	.filemedia ~ img, ._subirvisoredit > div > iframe ~ img { display: inline-block; }
	.islayout{border: 1px solid #ccc; padding-top: 0.5ex ; }	
	.islayout.active{border: 1px dashed #ef2626; background:#ffeb3b14; }	
	.islayout.active:hover > ._acccont{display: block; text-align: center; position: absolute; bottom: 0px; left: calc(50% - 210px);}	
	.islayout > ._cont.text-left ~ ._acccont .layouttxtleft{color:#000;}
	/*.islayout.active:hover > ._cont.text-center ~ ._acccont{text-align: left; left:1em;}*/
	.islayout > ._cont.text-center ~ ._acccont .layouttxtcent{color:#000;}
	.islayout > ._cont.text-right ~ ._acccont .layouttxtrigh{color:#000;}
	.islayout > ._cont.text-justify ~ ._acccont .layouttxtjust{color:#000;}
	.islayout > ._cont.addnegrita~ ._acccont .layouttxtnegr{color:#000;}
	.islayout > ._cont.addcursiva~ ._acccont .layouttxtcurs{color:#000;}
	.islayout > ._cont.addsubrayado~ ._acccont .layouttxtsubr{color:#000;}

	.controlsdisenio{position: fixed; width: 60px; right: 0px; top: 0ex; padding: 0ex; margin:0px; display: block}
	.ricon{padding: 1ex !important; }
	.cicon{padding:0.25ex 1ex !important;}
	.cicon{cursor: pointer;}
	.islayout > ._cont[data-placeholder]:not([data-placeholder=""]):empty::before { content: attr(data-placeholder);}
	.islayout > ._cont:empty{color: grey; min-height: 35px; }
	.islayout > ._cont:empty:before {content: 'Empty layout'; }

	#mainpage > ._acccont .layouteli{ display: none; }
	._acccont > span{padding: 1ex 1ex 0.2ex 1ex; border-radius: 10px 10px 0 0;  color: #ccc;  cursor: pointer;	}
	#paneldisenio{border-bottom: 1ex solid #17a2b8;}
	.embed-responsive::before{ display: none; }
	.menucircleitem:hover .options, .openmenucircle:hover .options{ display: block; }
	#accionesedicion{position: fixed; right: 65px; bottom: 0ex; z-index: 999; display: block;}