<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
  .mendi-social-networks {
      width: 100%;
      margin: 0;
  }
  .mendi-social-networks li {
    float: left;
    display: inline;
    color: #ffffff;
    position: relative;
  } 
  .mendi-social-networks li i {
    font-size: 50px;
    float: left;
    width: 60px;
  }
  .mendi-social-networks li a {
    color: #ffffff;
    padding: 25px 65px 25px 40px;
    float: left;
    width: 100%;
    box-sizing: border-box;
      
  }
  .mendi-social-networks li a:hover {
       text-decoration:none;    
  }
  .mendi-social-networks li p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 2px 0 0px;
  }
  .mendi-social-networks li .followers {
    text-transform: uppercase;
  }

  .mendi-social-networks li:hover:before {
    background-color: #ffffff;
    color: #999999;
  }
  .mendi-social-networks li.facebook {
    background-color: #4d6bab;
  }
  .mendi-social-networks li.twitter {
    background-color: #4ec6f8;
  }
  .mendi-social-networks li.googleplus {
    background-color: #d34836;
  }
  .mendi-social-networks li.linkedin {
    background-color: #248cc9;
  }
  .social1 {
    position: absolute;
    top: 520px;
    background-color: transparent;}

  .social1 ul {
    list-style: none; }

  .social1 ul li a {
    display: inline-block;
    color: #fff;
    background: #4466bb 100% !important;
    padding: 10px 0;
    text-decoration: none;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    border: 2px solid #fff;
    border-radius: 4px; }

  .social1 ul li a:hover {
    padding: 10px 5px;
    color: #4466bb;
    /*background: linear-gradient(70deg, #fcfcfc 30%, #4466bb 100%);*/
    border: 2px solid #fff;
    border-radius: 4px; }
</style>

<body>
<div class="container nuevo">

  <div class="row">
    <div class="col-md-4 img-libro">
      
      <img class="img-responsive2 imag" id="imagen" ng-src="../static/libreria/image/{{bib_estudio.foto}}" ng-click=escucharVideo()>
      <div class="col-md-12" id="vid" style="display:none">
          <video id="myVideo"  style="display:none; margin-left: 250px;" controls>
            <source id="mySource">
          </video>
      </div>
    </div>      
    <div class="col-md-7 col-xs-12" id="ocultar1">
      <div class="row">
        <label for="" translate="titulo"></label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_estudio.nombre" disabled>
        </div>
      </div>
      <div class="row">
        <label for="" translate="resumen"></label><br>
        <div>
          <textarea class="col-md-12 col-xs-12" cols="30" rows="3" ng-model="bib_estudio.resumen" disabled></textarea>
        </div>
      </div>

      <input type="hidden" name="historial_ver" ng-model="historial.ver">
      <input type="hidden" name="historial_descargar" ng-model="historial.descargar">
    </div>
  </div>

  <div class="row" id="botonesLibro">
    <div class="col-md-4 img-libro" id="ocultar2">
        <a ng-click="descargar(bib_estudio.id_estudio,bib_estudio.cantidad_descarga,historial.cant)" type="bottom" class="btn btn-primary" style="color:#fff" translate="descargar"></a>
    </div>
    </div> 

    <div  class="col-md-4" id="contenedor_frame" style="margin-top:30px;display: none;margin-top: 30px;flex-wrap: wrap;justify-content:center">
      <a type="button" class="btn btn-success" ng-click="playVideo()" style="margin-right: 5px;color:#fff"><i class="fa fa-play fa-1x"></i> Play</a>
      <a type="button" class="btn btn-danger" ng-click="pauseVideo()" style="margin-right: 5px;color:#fff"><i class="fa fa-stop fa-1x"></i> Stop</a>
      <a type="button" id= "botonCancelar" class="btn btn-danger" ng-click="cancelarVideo()" style="display:none;color:#fff"><i class="fa fa-times fa-1x" style="margin-right:5px"></i><h5 translate="cancelar" style="margin:auto"></h5></a>
    </div>
</div>

<!--<div class="container nuevo" >
  
      <div id="contenedor_frame" style="width: 800px;margin: auto;"></div>
  <footer>
    <div class="row">
    <div class="social1 col-md-12">
    <div class="col-lg-12 ">
      <ul class="mendi-social-networks">
        <li class="facebook">
        <a href="" title="Wikipedia" data-toggle="modal" data-target="#myModalWiki">
          <img src="./app/images/wikipedia.png" class="img-responsive" style="height:50px">
        </a>
      </li>
      <li class="twitter">
        <a href="" title="Traductor" data-toggle="modal" data-target="#myModalTraductor">
          <img src="./app/images/traductor.png" class="img-responsive" style="height:50px">
        </a>
      </li>
      <li class="googleplus">
        <a href="" title="Diccionario" data-toggle="modal" data-target="#myModalRae">
          <img src="./app/images/diccionario.png" class="img-responsive" style="height:50px">
        </a>
      </li>
      <li class="linkedin">
        <a href="" title="Detector de Plagio" data-toggle="modal" data-target="#myModalPlagio">
          <img src="./app/images/plagio.png" class="img-responsive" style="height:50px">
        </a>
      </li>
    </ul>
    </div>
    </div>
   </div>
  </footer>
  
</div>-->

<!--============ modal wikipedia==============
<div id="myModalWiki" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Wikipedia</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="http://www.wikipedia.com" frameborder="0" align="middle" width="100%" height="200px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>-->
<!--============ modal wikipedia==============
<div id="myModalTraductor" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Traductor</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="https://translate.google.com.pe/#es/en/hola" frameborder="0" align="middle" width="100%" height="200px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>-->
<!--============ modal wikipedia==============
<div id="myModalRae" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Diccionario RAE</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="http://dle.rae.es/" frameborder="0" align="middle" width="100%" height="200px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>-->
<!--============ modal plagio==============
<div id="myModalPlagio" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Detector de Plagio</h4>
      </div>
      <div class="modal-body">
       
        <iframe src="https://www.plag.es/" frameborder="0" align="middle" width="100%" height="200px"></iframe>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>-->
<!--============ modal video==============
<div id="myModalAudio" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Video</h4>
      </div>
      <div class="modal-body">
       
        <audio id="demo" src="http://ingles.aceglobal-training.com/static/libreria/audio/marvel.mp3"  style="width: 270px;" controls></audio>
        
      </div>
      <video id="demo" src="http://ingles.aceglobal-training.com/static/libreria/video/pitufos.mp4"  controls style="  width: 100%;"></video>
    </div>
  </div>
</div>-->
</body>