body
{
	margin:0px;font-family: Arial;font-size: 12px;background-color: #ccc;background-image: url('../images/background.png');
}
.logsis
{
	width:1000px;height:70px;margin:0 auto;background-color: #ddd;
}
.datsie
{
	width:1000px;height:120px;margin:0 auto;box-shadow:0px 0px 3px #333;
}
.iedats
{
	width:1000px;height:120px;background-color: #EFF7FF;float: left;
}
.datsiep
{
	height: 20px;margin:0px;line-height: 20px;font-size: 13px;
}
.datsiep label
{
	font-weight: bold;font-family: Arial;width:150px;text-align:right; height: 20px; line-height: 20px;display: block;float: left;padding-right:30px;
	}

.diel
{
	width: 200px;float: left;height: 20px; line-height: 20px; 
}
.datsusu
{
	width:400px;height:120px;background-color: #ccc;float: left;
}
.welcomeusu
{
	width:398px;height:70px;background-color: #fff;border:1px solid #0483BE;
}
.divide
{
	width: 1000px;margin: 0 auto;height: 5px;background-color: #042D59;
}
.optionusu
{
	width:400px;height:49px;float: right;margin-top: -23px;
}
.cpass
{
	width:200px;float: left;background-color: #0483BE;color:#fff;text-align: center;height: 49px;line-height: 49px;font-size: 14px;font-weight: bold;
	cursor: pointer;
}
.cpass:hover
{
	background-color: #1794D4;
}
.csusu
{
	width:200px;float: left;background-color: #FF5238;color:#fff;text-align: center;height: 49px;line-height: 49px;font-size: 14px;font-weight: bold;
	cursor: pointer;
}
.csusu:hover
{
	background-color: #E86B27;
}
.csusu a
{
	width: 200px;height: 49px;line-height: 49px;text-decoration: none;color:#fff;
}
 #loadcontent
 {
 float: left;width: 800px;
 }
.navie
{
	width:200px;float: left;
}
.navie nav
{
	width: 200px;height:40px;line-height: 40px;color:#044895;;font-family: Arial;font-weight: bold;
	border:3px solid #1A88FF;border-top:0px none #fff;border-right:0px none #fff;border-bottom:0px none #fff;margin-top: 2px;
	text-indent: 4px;cursor: pointer;
	background-color: #EFF7FF;
	box-shadow: 0px 0px 2px 0px #1A88FF;
}
.menua
{
	display: block;width:200px;height: 40px;text-decoration: none;color:#044895;font-size: 14px;
}
.navie nav:hover
{
	background-color:#BAE4FF;text-shadow:0px 1px 0px #fff;
}
.loadpage
{
	width:780px;
	float:left;margin-left: 10px;
}
.content
{
	width:1000px;margin: 0 auto;border:1px solid #fff;background-color: #fff;min-height:650px;box-shadow:0px 0px 3px #333;
	overflow: hidden;
}
.contentsubs
{
	width:700px;margin: 20px auto;height:200px;
}
.items
{
	width:97px;height:97px;background-color:#fff;color:#fff;box-shadow: 0px 0px 3px 0px #333;
	cursor: pointer;float: left;margin-left: 20px;margin-top: 10px;border-radius: 4px;
}
.itemimg
{
	width:64px;height: 64px;margin:0 auto;
}
.itemimg img
{
	width:64px;height: 64px;
}
.itemdes
{
	width: 97px;height: 22px;line-height: 25px;color:#fff;text-align: center;margin:0 auto;font-family: Arial;
	font-size:13px;color:#ccc; 
}

.items:hover
{
	box-shadow: 0px 0px 10px 0px #333;

}
.items:hover .itemdes
{
	color:#333;

}

#boxlist
{
	width:500px;
	position: fixed;
	height:300px;
	background-color: #fff;
	border:2px solid #1A88FF;
	border-radius: 3px;
	margin-left: 50%;
	left:-250px;margin-top: 80px;z-index:100;
	display: none;
	overflow-x:hidden;
	overflow-y:auto;
}
#bloqp
{
	background-color: #000;width: 100%;height: 100%;position: fixed;margin-top: 0px;
	opacity: 0.60;
	filter: alpha(opacity=60);
	display: none;
}
.divlog
{
	width:350px;height:200px;margin:80px auto;box-shadow: 0px 0px 10px 0px #000;background-color: #fff;
}
.titlog
{
	width: 350px;height: 40px;background-color: #044895;
}
.imgl
{
	float: left;width: 40px;height: 40px;
}
.desl
{
float: left;width: 310px;height: 40px;text-align: left;color:#fff;line-height: 40px;font-weight: bold;font-size: 13px;
text-indent: 80px;
}
.controlsl
{
	width:350px;height:40px;line-height: 40px;margin-top: 10px;
}
.desct
{
	width:100px;height: 40px;line-height: 40px;text-align: center;font-weight: bold;color:#044895;float: left;
}
.controlc
{
	width: 250px;height: 40px;line-height: 40px;float: left;
}
.accbt
{
	border-radius: 3px;background-color: #044895;color:#fff;border:0px none #fff;font-weight: bold;width: 90px;height:25px;line-height:25px;
	
}
#errorlog
{
	width:300px;line-height: 35px;text-align: center;background-color: #FF8571;position: absolute; 
	margin-left: 50%;left:-150px;border-radius: 3px;margin-top: -40px;color:#540000;
}

.bienv
{
	width:398px;height:25px;line-height: 25px;font-family: Arial;font-weight: bold;text-align: center;font-size: 15px;
}
.ususis
{
	width:398px;height:25px;line-height: 25px;font-family: Arial;text-align: center;font-size: 15px;color:#0483BE;
}