/*** LISTADO DE PUBLICACIONES ***/
#publicacion-list .publicacion {
	background: #fff;
	box-shadow: 2px 2px  5px #ccc;
	cursor: pointer;
	height: 150px !important;
	margin-bottom: 15px;
	overflow: hidden;
	transition: box-shadow 0.25s linear;
}

#publicacion-list .publicacion:hover {
	box-shadow: 5px 5px  5px #ccc;
}

#publicacion-list .publicacion a:hover {
	text-decoration: none;
}

#publicacion-list .publicacion .wrapper .titulo-aviso {
	font-weight: bolder;
	max-width: 80%;	
}

#publicacion-list .publicacion .wrapper .nombre, 
#publicacion-list .publicacion .wrapper .titulo-aviso, 
#publicacion-list .publicacion .wrapper .ubicacion {
    float: left;
	margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#publicacion-list .publicacion .wrapper .estado-nuevo {
	background: #51CF66;
	border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px; 
    padding: 2px 10px;
    vertical-align: -2px;
}

#publicacion-list .publicacion .wrapper span {
    color: gray;
    display: inline-block;
    vertical-align: -1px;
    padding-left: 5px;
}

#publicacion-list .publicacion .wrapper .wrapper-empresa {
    color: #000;
    height: 20px;
    float: left;
    margin: 10px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#publicacion-list .publicacion .wrapper .descripcion { 
	font-size: 0.9em;
}

#publicacion-list .publicacion .wrapper .descripcion a{
	color: #888;
}

#publicacion-list .publicacion .wrapper-empresa a h4 ,
#publicacion-list .publicacion .wrapper-empresa a h5 {
	background: #555;
	border-radius: 4px;
    color: #fff;
    margin-left: 10px; 
    margin-bottom: 10px; 
    padding: 3px 10px;
}

#publicacion-list .publicacion .wrapper-empresa a:hover h4 ,
#publicacion-list .publicacion .wrapper-empresa a:hover h5 {
	background: #777;
}

#publicacion-list .publicacion .wrapper-imagen {
	padding: 0 !important;
	padding-top: 30px !important;
}

#publicacion-list .publicacion .wrapper-imagen .logo-empresa {
    float: right;
    height: 100px;
}

#publicacion-list .publicacion .estado-postulado {
    position: absolute;
    top: 7px;
    right: 16px;
}

/*** CREAR EMPRESA ***/
#crear_empresa #logo {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.pnlbusquedas{
background: rgba(84,107,255,0.97);
background: -moz-linear-gradient(left, rgba(84,107,255,0.97) 0%, rgba(119,201,43,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,107,255,0.97)), color-stop(100%, rgba(119,201,43,1)));
background: -webkit-linear-gradient(left, rgba(84,107,255,0.97) 0%, rgba(119,201,43,1) 100%);
background: -o-linear-gradient(left, rgba(84,107,255,0.97) 0%, rgba(119,201,43,1) 100%);
background: -ms-linear-gradient(left, rgba(84,107,255,0.97) 0%, rgba(119,201,43,1) 100%);
background: linear-gradient(to right, rgba(84,107,255,0.97) 0%, rgba(119,201,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546bff', endColorstr='#77c92b', GradientType=1 );
-webkit-box-shadow: 0px 0px 13px 1px rgba(166,171,171,1);
-moz-box-shadow: 0px 0px 13px 1px rgba(166,171,171,1);
box-shadow: 0px 0px 13px 1px rgba(166,171,171,1);
    margin: 0 0 1.2ex;
    }

.pnlbusquedas2{
    position: relative;
    background: rgba(84,107,255,1);
    background: -moz-linear-gradient(left, rgba(84,107,255,1) 0%, rgba(119,201,43,0.99) 20%, rgba(119,201,43,0.98) 77%, rgba(84,107,255,0.97) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,107,255,1)), color-stop(20%, rgba(119,201,43,0.99)), color-stop(77%, rgba(119,201,43,0.98)), color-stop(100%, rgba(84,107,255,0.97)));
    background: -webkit-linear-gradient(left, rgba(84,107,255,1) 0%, rgba(119,201,43,0.99) 20%, rgba(119,201,43,0.98) 77%, rgba(84,107,255,0.97) 100%);
    background: -o-linear-gradient(left, rgba(84,107,255,1) 0%, rgba(119,201,43,0.99) 20%, rgba(119,201,43,0.98) 77%, rgba(84,107,255,0.97) 100%);
    background: -ms-linear-gradient(left, rgba(84,107,255,1) 0%, rgba(119,201,43,0.99) 20%, rgba(119,201,43,0.98) 77%, rgba(84,107,255,0.97) 100%);
    background: linear-gradient(to right, rgba(84,107,255,1) 0%, rgba(119,201,43,0.99) 20%, rgba(119,201,43,0.98) 77%, rgba(84,107,255,0.97) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546bff', endColorstr='#546bff', GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c92b', endColorstr='#546bff', GradientType=1 );
    -webkit-box-shadow: 0px 5px 5px -2px rgba(155,155,168,1);
    -moz-box-shadow: 0px 5px 5px -2px rgba(155,155,168,1);
    box-shadow: 0px 5px 5px -2px rgba(155,155,168,1);
    margin: 0 0 1.5ex;
}
/*.btnmenuactive .btn.active{ border-bottom:4px solid #fff !important;}*/

@media print
{
    .no-print, .no-print *{
        display: none !important;
        height: 0;
    }
}

img.nosel{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.toolbarmouse{
    position: absolute;
    width: 35px;
    z-index: 99;
    left: calc(50% - 17px);
}
