<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
   <div class="row">
      <a type="button" class="btn btn-primary" href="#/estudios/agregar" data-dismiss="modal"><i class=" fa fa-plus" style="margin-right:5px"></i><h5 translate="nuevo" style="display:inline-block; font-size: 1rem;margin:0"></h5></a>
   </div>

  	<div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div class="hvr-float cont-img" ng-repeat="row in selectEstudios">
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verEstudio(row.id_estudio)" >

            <div class="namelevel text-center" style="line-height:18px"><strong>{{row.nombre}}</strong></div>
            <div class="namelevel text-center" style="border-top:2px solid red">
                <a href="#/estudios/editar/{{row.id_estudio}}"><i class="fa fa-pencil-square-o"></i></a>
                <a ng-click="eliminar(row.id_estudio)"><i class="fa fa-trash"></i></a>
            </div>
        </div>							
    </div>
     <button type="button" id="botonAtras" class="btn btn-primary" ng-click="selecionarTipo(0)" translate="atras"></button>
    </div>
    </div> 
</body>