/******* LETRAS ********/
.color-blue{ color: #5a89f8; }

.color-green{ color: #91dea6; }

.color-green2{ color: #2ed353; }

.color-red{ color: #fc5c5c; }

.color-yellow{ color: #f5ab40; }

.color-orange{ color: #fb8521; }

/******* FONDO ********/
.bg-blue{ background-color: #5a89f8; color: #ffffff;}

.bg-green{ background-color: #91dea6; color: #ffffff;}

.bg-green2{ background-color: #2ed353; color: #ffffff;}

.bg-red{ background-color: #fc5c5c; color: #ffffff;}

.bg-yellow{ background-color: #f5ab40; color: #ffffff;}

.bg-lemon{ background-color: #c6e043; color: #ffffff;}

.bg-lilac{ background-color: #a286ff; color: #fff; }

.bg-pink{ background-color: #ffb283; color: #ffffff;}


/******* BOTONES ********/
.btn-blue, .btn-blue.disabled:focus, .btn-blue.disabled:hover,
.btn-blue[disabled]:focus, .btn-blue[disabled]:hover{
    background-color: #5a89f8;
    color: #fff;
}

.btn-blue:hover, .btn-blue:focus{
    background-color: #486ec9;
    color: #fff;
}

.btn-green, .btn-green.disabled:focus, .btn-green.disabled:hover,
.btn-green[disabled]:focus, .btn-green[disabled]:hover{
    background-color: #91dea6;
    color: #fff;
}

.btn-green:hover, .btn-green:focus{
    background-color: #6ac182;
    color: #fff;
}

.btn-green2, .btn-green2.disabled:focus, .btn-green2.disabled:hover,
.btn-green2[disabled]:focus, .btn-green2[disabled]:hover{
    background-color: #2ed353;
    color: #fff;
}

.btn-green2:hover, .btn-green2:focus{
    background-color: #17a838;
    color: #fff;
}

.btn-lilac, .btn-lilac.disabled:focus, .btn-lilac.disabled:hover,
.btn-lilac[disabled]:focus, .btn-lilac[disabled]:hover{
    background-color: #a286ff;
    color: #fff;
}

.btn-lilac:hover, .btn-lilac:focus{
    background-color: #7e60e0;
    color: #fff;
}

.btn-red, .btn-red.disabled:focus, .btn-red.disabled:hover,
.btn-red[disabled]:focus, .btn-red[disabled]:hover{
    background-color: #fc5c5c;
    color: #fff;
}

.btn-red:hover, .btn-red:focus{
    background-color: #db4343;
    color: #fff;
}

.btn-yellow, .btn-yellow.disabled:focus, .btn-yellow.disabled:hover,
.btn-yellow[disabled]:focus, .btn-yellow[disabled]:hover{
    background-color: #f5ab40;
    color: #fff;
}

.btn-yellow:hover, .btn-yellow:focus{
    background-color: #dd9327;
    color: #fff;
}

.btn-pink, .btn-pink.disabled:focus, .btn-pink.disabled:hover,
.btn-pink[disabled]:focus, .btn-pink[disabled]:hover{
    background-color: #c97ec5;
    color: #fff;
}

.btn-pink:hover, .btn-pink:focus{
    background-color: #964e92;
    color: #fff;
}

.btn-orange, .btn-orange.disabled:focus, .btn-orange.disabled:hover,
.btn-orange[disabled]:focus, .btn-orange[disabled]:hover{
    background-color: #fb8521;
    color: #fff;
}

.btn-orange:hover, .btn-orange:focus{
    background-color: #d65f00;
    color: #fff;
}

.btn-grey, .btn-grey.disabled:focus, .btn-grey.disabled:hover,
.btn-grey[disabled]:focus, .btn-grey[disabled]:hover{
    background-color: #ccc;
    color: #fff;
}

.btn-grey:hover, .btn-grey:focus{
    background-color: #999;
    color: #fff;
}