.plantilla-marcar_respuesta .botones-add{
    left: 20px;
    position: absolute;
    top: 4px;
}

.plantilla-marcar_respuesta .question-text span.addtext{
    font-size: 1.8em;
}

.plantilla-marcar_respuesta .question-text{
    border-bottom: 2px dashed #ccc;
    margin-bottom: 1em;
}

.plantilla-marcar_respuesta .question-alternatives .marcaryes .optok{
    color: #3c763d;
}

.plantilla-marcar_respuesta .question-alternatives .marcarno .optok{
    color: #ccc;
}

.plantilla-marcar_respuesta label.opt-texto{
    cursor: pointer;
    font-size: large;
}

.plantilla-marcar_respuesta label.opt-texto:hover{
    color: #000;
}

.plantilla-marcar_respuesta .question-alternatives .correct{
    color: #2ed353;
}

.plantilla-marcar_respuesta .question-alternatives .correct>.opt-texto:hover{
    color: #2ed353;
}

.plantilla-marcar_respuesta .question-alternatives .warning{
    color: #f5ab40;
}

.plantilla-marcar_respuesta .question-alternatives .warning>.opt-texto:hover{
    color: #f5ab40;
}

.plantilla-marcar_respuesta .editremovido{
    display: none;
}

