.bg-green, .btn-green{ background: #2ECC71; color: #fff; }
.color-green{ color: #2ECC71; }
.border-green{ border-color: #2ECC71;}
.btn-green:hover{ background: #51D686; color: #fff; }

.bg-green-dark, .btn-green-dark{ background: #27AE60; color: #fff; }
.color-green-dark{ color: #27AE60; }
.border-green-dark{ border-color: #27AE60;}
.btn-green-dark:hover{ background: #2FCF72; color: #fff; }

.bg-turquoise, .btn-turquoise{ background: #1ABC9C; color: #fff; }
.color-turquoise{ color: #1ABC9C; }
.border-turquoise{ border-color: #1ABC9C;}
.btn-turquoise:hover{ background: #48c9b0; color: #fff; }

.bg-turquoise-dark, .btn-turquoise-dark{ background: #16A085; color: #fff; }
.color-turquoise-dark{ color: #16A085; }
.border-turquoise-dark{ border-color: #16A085;}
.btn-turquoise-dark:hover{ background: #1DC39F; color: #fff; }

.bg-blue, .btn-blue{ background: #2f81d4; color: #fff; }
.color-blue{ color: #2f81d4; }
.border-blue{ border-color: #2f81d4;}
.btn-blue:hover{ background: #5398D9; color: #fff; }

.bg-blue-dark, .btn-blue-dark{ background: #1062B5; color: #fff; }
.color-blue-dark{ color: #1062B5; }
.border-blue-dark{ border-color: #1062B5;}
.btn-blue-dark:hover{ background: #1577DA; color: #fff; }

.bg-aqua, .btn-aqua{ background: #3498DB; color: #fff; }
.color-aqua{ color: #3498DB; }
.border-aqua{ border-color: #3498DB;}
.btn-aqua:hover{ background: #57ABDF; color: #fff; }

.bg-aqua-dark, .btn-aqua-dark{ background: #2980B9; color: #fff; }
.color-aqua-dark{ color: #2980B9; }
.border-aqua-dark{ border-color: #2980B9;}
.btn-aqua-dark:hover{ background: #3796D1; color: #fff; }

.bg-purple, .btn-purple{ background: #9B59B6; color: #fff; }
.color-purple{ color: #9B59B6; }
.border-purple{ border-color: #9B59B6;}
.btn-purple:hover{ background: #AB79C2; color: #fff; }

.bg-purple-dark, .btn-purple-dark{ background: #8E44AD; color: #fff; }
.color-purple-dark{ color: #8E44AD; }
.border-purple-dark{ border-color: #8E44AD;}
.btn-purple-dark:hover{ background: #A05EBF; color: #fff; }

.bg-black, .btn-black{ background: #34495E; color: #fff; }
.color-black{ color: #34495E; }
.border-black{ border-color: #34495E;}
.btn-black:hover{ background: #7392AE; color: #fff; }

.bg-black-dark, .btn-black-dark{ background: #2C3E50; color: #fff; }
.color-black-dark{ color: #2C3E50; }
.border-black-dark{ border-color: #2C3E50;}
.btn-black-dark:hover{ background: #3B546C; color: #fff; }

.bg-yellow, .btn-yellow{ background: #F1C40F; color: #fff; }
.color-yellow{ color: #F1C40F; }
.border-yellow{ border-color: #F1C40F;}
.btn-yellow:hover{ background: #F3D14B; color: #fff; }

.bg-yellow-dark, .btn-yellow-dark{ background: #F39C12; color: #fff; }
.color-yellow-dark{ color: #F39C12; }
.border-yellow-dark{ border-color: #F39C12;}
.btn-yellow-dark:hover{ background: #F3A939; color: #fff; }

.bg-orange, .btn-orange{ background: #E67E22; color: #fff; }
.color-orange{ color: #E67E22; }
.border-orange{ border-color: #E67E22;}
.btn-orange:hover{ background: #E89349; color: #fff; }

.bg-orange-dark, .btn-orange-dark{ background: #D35400; color: #fff; }
.color-orange-dark{ color: #D35400; }
.border-orange-dark{ border-color: #D35400;}
.btn-orange-dark:hover{ background: #F95F00; color: #fff; }

.bg-red, .btn-red{ background: #E74C3C; color: #fff; }
.color-red{ color: #E74C3C; }
.border-red{ border-color: #E74C3C;}
.btn-red:hover{ background: #EB7065; color: #fff; }

.bg-red-dark, .btn-red-dark{ background: #C0392B; color: #fff; }
.color-red-dark{ color: #C0392B; }
.border-red-dark{ border-color: #C0392B;}
.btn-red-dark:hover{ background: #D1463C; color: #fff; }

.bg-white, .btn-white{ background: #ECF0F1; color: #34495E; }
.color-white{ color: #ECF0F1; }
.border-white{ border-color: #ECF0F1;}
.btn-white:hover{ background: #E0E0E0; color: #34495E; }

.bg-white-dark, .btn-white-dark{ background: #BDC3C7; color: #34495E; }
.color-white-dark{ color: #BDC3C7; }
.border-white-dark{ border-color: #BDC3C7;}
.btn-white-dark:hover{ background: #D5D8DC; color: #34495E; }

.bg-grey, .btn-grey{ background: #95A5A6; color: #fff; }
.color-grey{ color: #95A5A6; }
.border-grey{ border-color: #95A5A6;}
.btn-grey:hover{ background: #ACB8B8; color: #fff; }

.bg-grey-dark, .btn-grey-dark{ background: #7F8C8D; color: #fff; }
.color-grey-dark{ color: #7F8C8D; }
.border-grey-dark{ border-color: #7F8C8D;}
.btn-grey-dark:hover{ background: #979E9F; color: #fff; }

.bg-brown, .btn-brown{ background: #A38F84; color: #fff; }
.color-brown{ color: #A38F84; }
.border-brown{ border-color: #A38F84;}
.btn-brown:hover{ background: #B3A39D; color: #fff; }

.bg-brown-dark, .btn-brown-dark{ background: #75706B; color: #fff; }
.color-brown-dark{ color: #75706B; }
.border-brown-dark{ border-color: #75706B;}
.btn-brown-dark:hover{ background: #89847F; color: #fff; }

.btn{ border-radius: 4px; }

.btn, a{
    text-decoration: none;
    -webkit-transition: border 0.20s linear, color 0.20s linear, background-color 0.20s linear;
    transition: border 0.20s linear, color 0.20s linear, background-color 0.20s linear;
}

a{ color: #16a085; }

.btn:hover{ box-shadow: none !important; }
