#workbook-tool .workbook-main{
    border: 1px solid #bbb;
    margin-top:  10px;
    padding: 10px;
}

#workbook-tool iframe.pdf-viewer{
    width: 100%;
    min-height: 500px;
}

#workbook-tool div.mask{
    position: relative;
}
#workbook-tool div.mask img{
    max-height: 400px;
    opacity: .07;
}
#workbook-tool div.mask span{
    font-size: 2.5em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40%;
}
@media (max-width: 767.99px) {
    #workbook-tool div.mask span{
        font-size: 1.5em;
        left: 0;
        width: 100%;
    }
}