 <link href="../modbiblioteca/css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
           <div class="hvr-float cont-img" ng-repeat="row in recursos" >
            <div class="namelevel text-right i">
              <a href="" data-toggle="modal" data-target="#myModalCorreos">
                <i class="fa fa-times-circle-o" style="margin-right: 5px;"></i>
              </a>
              <a ng-click="aceptar(row.id_recursos)">
                <i class="fa fa-check-circle-o" style="margin-left: 10px"></i>
              </a>  
            </div>
            <a href="../bib_recursos/?acc=editar&dni={{row.id_personal}}&orden={{row.orden}}">
                <img class="img img-responsive" src="{{row.caratula}}" style="width:100%; overflow:hidden" >
            </a>
            <div class="namelevel text-center"><strong>{{row.titulo}}</strong></div>
             
        </div>              
    </div>
    </div>
    </div>

<!--============ modal correos==============-->

<div id="myModalCorreos" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Enviar Correo</h4>
      </div>
      <form method="post">
          <div class="modal-body">
            <p>
            <label id="modalAutor" for="">Destinatario:</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" name="email" class="form-control" ng-model="email.destinatario" placeholder="example@example.com" required="required">
            </div></p> 
            <p>
            <label id="modalAutor" for="">Asunto:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" class="form-control" placeholder="Escriba el asunto del mensaje"  ng-model="email.asunto" required="required">
            </div></p> 
            <p>
            <label id="modalAutor" for="">Mensaje:</label>
            <div class="input-group">
                <textarea name="" id="" cols="54" rows="auto" ng-model="email.mensaje"><img class="img img-responsive" src="{{bib_recursos.caratula}}" style="width:100%; overflow:hidden"></textarea>
            </div></p>        
          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="rechazar()">Enviar</button>
      </div>
    </div>
  </div>
</div>

</body>