*{
	margin: 0;
	padding: 0;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 14px;
	
}

.input1 {
	padding: 6px 12px;
	font-size: 12px;
	color: #000;
	letter-spacing: -0.02em;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ffffff));
	background: -moz-linear-gradient(top,  #dedede,  #ffffff);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #717171;
	margin-right: 20px;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	-moz-box-shadow: 1px 1px 0px #efefef;
	box-shadow:  1px 1px 0px #efefef;
}

.hr1
{
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.hr2
{
	padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.btn1
{
	background-color: #337ab7;
	color: #fff;
}

.letra_grande
{
	font-size: 16px;
}

.btn_nuevo
{
	background-color: #bb4444;
	color: #fff;
}

.btn1:hover, .btn_nuevo:hover, .btn_eliminar:hover
{
	background-color: #337ab7;
	color: #fff;
}

.btn_eliminar
{
	background-color: #bb4444;
	color: #fff;
}

.btn2
{
	background-color: #bb4444;
	font-size: 10px;
}

.MA
{
	background-color: #bb4444;
	color: #fff;
}

.table-hover>tbody>tr:hover
{
	background-color: #ebe5d9;
}

.table > tbody > tr > td, .table > tbody > tr > th
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.enlace1
{
	color: #fff;
	font-size: 11px;
}

.enlace1:active
{
	color: #fff;
	font-size: 11px;
}

.enlace1:hover
{
	color: #fff;
}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}

.raya_arriba
{
	border-top: 3px solid #bb4444;
	padding-bottom: 7px;
}

.encabezado1, .panel-default>.panel-heading
{
	background-color: #bb4444;
	color: #fff;
	border: 1px solid #bb4444;
}

.btn_3
{
	background-color: #bb4444;
	color: #fff;
}

.title2
{
	font-size: 100%;background-color: #ddd; border: none; color: #5d5e5f; padding: 10px;
}

.table
{
	border-bottom: 1px solid #ddd;
}

.checkbox
		{
			padding: 0px;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		.table>tbody>tr>td
		{
			vertical-align: middle;
		}

		.btn3
		{
			background-color: #996633;
			color: #fff;
		
		}

.aviso
{
	color: #ff0000;
}

.alerta1
{
	display: none;
	margin-top: -15px;
}

.obligatorio
{

}

#alert-messages 
{
	background-color: #4f9c56;
	text-align: center;
	color: #fff;
	padding: 5px;
	margin-bottom: 15px;
}

.alert-messages1
{
	background-color: #d9534f;
	text-align: center;
	color: #fff;
	padding: 5px;
	margin-bottom: 15px;
}

.btn-circle
{
	margin-left:3px;
}

.alerta_vacio, .alerta2
{
	font-weight: bold;
	color: #ff0000;
}

.alert1
{
	background-color: #d9534f;
	color: #fff;
	padding: 5px;
	margin-bottom: 15px;
}

.mensaje1
{
	background-color: #4f9c56;
	color: #fff;
	padding: 5px;
	margin-bottom: 15px;
}

.red
{
	color: red;
}

.borde_rojo
{

	border: 1px solid #b94a48;
}

.texto_rojo1
{
	color: #b94a48;
	font-size: 80%;
}

.texto_rojo2
{
	color: #b94a48;
	font-size: 90%;
}

.face:hover {
  	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
  	backface-visibility: hidden;
  	perspective: 1000px;
}

input.gris, textarea.gris{
	border: 1px solid #383a3c;
}

select.conestilo
{
	background: transparent;
	border: 2px solid #4683af;
	width: 100%;
	padding: 0.3ex 2ex;
	border-radius: 0.25ex;
}

.conestilo
{
	background: transparent;
	border: 2px solid #4683af;
	width: 100%;
	padding: 0.3ex 2ex;
	border-radius: 0.25ex;
}


.caja_select
{
	overflow: hidden;
	width: 100%;
	position: relative;
	font-size: 1.8em;
}

img.img-portada
{
	cursor:pointer;
}

.caja_select::after {
    font-family: FontAwesome;
    content: "\f0dd";
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 100%;
    background-color: #4683af;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
    color: antiquewhite;
    bottom: 0px;
    border-radius: 0.1ex 0.25ex 0.25ex 0.1ex;
}

.well1
{
	overflow: hidden;background-color: #fff; border: 1px solid #ddd
}

.preg
{
	border: 1px solid #aaa;
	margin-bottom: 12px;
	padding-bottom: 12px;
	padding-top: 12px;
	position: relative;
}

.bloque_preguntas
{
	border: 3px dashed #ccc;
	min-height: 200px;
	cursor: pointer;
}

.bloque_preguntas:hover
{
	background-color: #eee;
	opacity: 0.7;
}

.muestra
{
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.titulo_descripcion {
    background: rgba(169, 175, 173, 0.84);
    border-radius: 1ex;
    padding: 0.5ex 2.5ex;
    border: 1px solid #ccc;
    margin: 10px 0px 5px 0px;
}

.muestra{
	padding: 10px;
}

.ejercicio {
    margin: 0ex;
    background: rgba(223, 230, 228, 0.66);
    border-radius: 1ex;
    padding: 0.5ex 2.5ex;
    border: 1px solid #ccc;
}

.marco{
	border: 1px solid rgba(148, 140, 140, 0.4);
    margin: 0 0 1ex 0;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.conestilo option
{
	font-size:21px;
}

.escriba_titulo
{
	border-bottom: 1px solid #ccc;
	margin-bottom: -5px;
	font-style: italic;
	color: #807d7d;
	font-size: 125%;
	font-weight: bold;
}

.escriba_descripcion
{
	margin-bottom: -5px;
	font-style: italic;
	color: #807d7d;
	font-size: 105%;
}

.escriba_descripcion1
{
	border-bottom: 1px solid #ccc;
	font-style: italic;
	color: #807d7d;
	font-size: 105%;
}

.escriba_pregunta
{
	border-bottom: 1px solid #ccc;
	margin-bottom: -5px;
	color: #807d7d;
	font-size: 100%;
}

.bloque_add_dimension
{
	border: 2px dashed #ccc;
	min-height: 50px;
	cursor:pointer;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.exa-item {
    margin: 1ex 0px;
    padding: 0ex;
    border: 1px solid #337ab7;
    border-radius: 0.5ex;
}

.exa-item .titulo {
    text-align: center;
    font-size: 1.3em;
    color: #337ab7;
    font-weight: bold;
}

.portada {
    overflow: hidden;
}

.resaltado_amarillo
{
	background-color: #ffff00;
}

.fila_dimension
{
	background-color: #fb8c00;
	color: #fff;
	padding: 10px;
}

.btn_imagen{
	padding-left:5px;
}