.plantilla-ordenar .elem-edit ,
.plantilla-ordenar .parrafo-edit {
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0px 3px 12px -5px #888;
    padding: 1em 0;
    margin: .5em 0 1em 0;
}

.plantilla-ordenar .botones{ margin-bottom: 1em; }

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem input{
    margin-bottom: 10px;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem input:last-child{
    margin: 0;
}

.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .row.check-fixed{
    margin-top: .5em;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem label,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo label{
    padding-right: 0;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem .list-elem-part>div,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo .list-parrafo-part>div,
.plantilla-ordenar .ejerc-ordenar .texto .drag>div,
.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte>div{
    background: -webkit-linear-gradient(#fff, #ddd); 
    background: -o-linear-gradient(#fff, #ddd); 
    background: -moz-linear-gradient(#fff, #ddd); 
    background: linear-gradient(#fff, #ddd); 
    border: 1px solid #888;
    border-radius: 4px;
    color: #000;
    display: inline-block;
    margin: 4px;
    min-height: 35px;
    min-width: 35px;
    padding: 7px 12px;
    text-align: center;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte.fixed>div{
    border: none;
    background: white;
    padding: 1em 0 0 0;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem .list-elem-part>div:hover,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo .list-parrafo-part>div:hover{
    background: -webkit-linear-gradient(#fff, #bbb); 
    background: -o-linear-gradient(#fff, #bbb); 
    background: -moz-linear-gradient(#fff, #bbb); 
    background: linear-gradient(#fff, #bbb);
    cursor: pointer;
}

.plantilla-ordenar .ejerc-ordenar .element,
.plantilla-ordenar .ejerc-ordenar .element{
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.plantilla-ordenar .ejerc-ordenar .element:last-child,
.plantilla-ordenar .ejerc-ordenar .element:last-child{
    border: none;
}

.plantilla-ordenar .ejerc-ordenar .element .multimedia>img.img-responsive,
.plantilla-ordenar .ejerc-ordenar .element .multimedia>img.img-responsive{
    display: initial;
}

.plantilla-ordenar .ejerc-ordenar .texto .drag{
    border: 1px solid #999;
    border-radius: 5px;
    min-height: 90px;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop{ 
    display: inline-block;
    margin-right: -15px;
    margin-top: 15px; 
    overflow: hidden;
    position: relative;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop.good:after,
.plantilla-ordenar .ejerc-ordenar .texto .drop.bad:after{
    font: normal normal normal 20px/1 FontAwesome;
    position: absolute;
    right: 0px;
    top: 20%;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop.good:after {
    color: #2ed353;
    content: '\f00c';
}

.plantilla-ordenar .ejerc-ordenar .texto .drop.bad:after {
    color: #fc5c5c;
    content: "\f00d";
}

.plantilla-ordenar .ejerc-ordenar .texto .drag>div:hover,
.plantilla-ordenar .ejerc-ordenar .texto .drop>div.parte.blank>div:hover{ 
    box-shadow: 0px 0px 5px 0px #7B799A;
    cursor: pointer; 
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte{
    /*display: inline-block;*/
    float: left;
    margin-bottom: 1.5em;
    margin-left: 4px;
    min-height: 50px;
    text-align: center;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte:last-child{
    margin-right: 50px;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte.blank{
    border-bottom: 1px solid #555;
    position: relative;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop.good>.parte.blank,
.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte.blank.good{
    border-bottom: 3px solid #2ed353;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop.bad>.parte.blank,
.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte.blank.bad{
    border-bottom: 3px solid #fc5c5c;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.ui-droppable-active{
    -moz-box-shadow: inset 0px 0px 15px #BEC9FF; 
    -webkit-box-shadow: inset 0px 0px 15px #BEC9FF; 
    box-shadow: inset 0px 0px 15px #BEC9FF;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.ui-droppable-hover{
    background: #BEC9FF;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.letter{
    min-width: 45px;
    text-transform: uppercase;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.parte.fixed {
    min-width: initial !important;
}

.plantilla-ordenar .ejerc-ordenar .texto .drop>.word{
    min-width: 100px;
    margin-right: 8px;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem .list-elem-part>div.fixed,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo .list-parrafo-part>div.fixed{
    background: white;
    border-color: #bbb;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem .list-elem-part>div.fixed:hover,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo .list-parrafo-part>div.fixed:hover{
    background: #fff;
    border-color: #888;
}

.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem .list-elem-part>div:active,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo .list-parrafo-part>div:active,
.plantilla-ordenar .elem-edit>.zona-edicion .inputs-elem .fix-part-elem .list-elem-part>div.fixed:active,
.plantilla-ordenar .parrafo-edit>.zona-edicion .inputs-parrafo .fix-part-parrafo .list-parrafo-part>div.fixed:active{
    background: -webkit-linear-gradient(#ddd, #fff); 
    background: -o-linear-gradient(#ddd, #fff); 
    background: -moz-linear-gradient(#ddd, #fff); 
    background: linear-gradient(#ddd, #fff); 
    border: 1px solid #888;
}

.plantilla-ordenar .elem-edit>.zona-btns-mover,
.plantilla-ordenar .parrafo-edit>.zona-btns-mover{
    border-left: 1px solid #ddd;
}

.plantilla-ordenar .elem-edit .btns-media,
.plantilla-ordenar .parrafo-edit .btns-media,
.plantilla-ordenar .elem-edit .part-2,
.plantilla-ordenar .parrafo-edit .part-2{
    padding: 0;
}

.plantilla-ordenar .elem-edit .btns-media>div,
.plantilla-ordenar .parrafo-edit .btns-media>div{
    padding-right: 0;
}

.plantilla-ordenar .elem-edit hr,
.plantilla-ordenar .parrafo-edit hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

.plantilla-ordenar .elem-edit .btns-elem,
.plantilla-ordenar .parrafo-edit .btns-parrafo{
    padding-left: 0;
}

.plantilla-ordenar .elem-edit .btns-elem>.delete-elem,
.plantilla-ordenar .parrafo-edit .btns-parrafo>.delete-parrafo{
    margin-bottom: 20px;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div{
    background: #fafafa;
    border: 1px dashed #ccc;
    color: black;
    margin-bottom: 1em;
    min-height: 7em;
    padding: .5em 1em;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.finish,
.plantilla-ordenar .ejerc-ordenar .drop-parr>div.fixed{
    border: 1px solid #eaeaea;
    background: #fff;
    pointer-events: none;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.filled,
.plantilla-ordenar .ejerc-ordenar .drag-parr>div{
    background: #fafafa;
    border: 1px solid #ccc;
    color: black;
    cursor: pointer;
    margin-bottom: 1em;    
    padding: .5em 1em;
    position: relative;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.good{
    background: #ecffec;
    border-color: #009900;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.good:after,
.plantilla-ordenar .ejerc-ordenar .drop-parr>div.bad:after {
    font: normal normal normal 25px/1 FontAwesome;
    top: 3px;
    position: absolute;
    right: 3px;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.good:after{
    content: "\f05d";
    color: #009900;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.bad:after {
    content: "\f05c";
    color: #b9192c;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.bad{
    background: #fff0f0;
    border-color: #b9192c;
}

.plantilla-ordenar .ejerc-ordenar .drag-parr>div{
    border-radius: 5px;
    min-height: 5em;
}

.plantilla-ordenar .ejerc-ordenar .drop-parr>div.filled:hover,
.plantilla-ordenar .ejerc-ordenar .drag-parr>div:hover{
    background: #426dbd;
    border:  1px solid #03399a;
    color: #fff;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

@media (max-width: 767.99px) {
    .plantilla-ordenar .elem-edit ,
    .plantilla-ordenar .parrafo-edit {
        padding-bottom: 0;
    }

    .plantilla-ordenar .elem-edit>.zona-edicion,
    .plantilla-ordenar .parrafo-edit>.zona-edicion{
        margin-bottom: 1em;
    }

    .plantilla-ordenar .elem-edit>.zona-btns-mover,
    .plantilla-ordenar .parrafo-edit>.zona-btns-mover{
        padding: 0;
        border: none;
    }

    .plantilla-ordenar .elem-edit .btns-media,
    .plantilla-ordenar .parrafo-edit .btns-media{
        margin-bottom: 10px;
    }

    .plantilla-ordenar .elem-edit .btns-elem>.btn,
    .plantilla-ordenar .parrafo-edit .btns-parrafo>.btn{
        margin-top: 10px;
    }
    
    .plantilla-ordenar .elem-edit .btns-elem>.delete-elem,
    .plantilla-ordenar .parrafo-edit .btns-parrafo>.delete-parrafo{
        margin-bottom: 0px;
    }
}