.plantilla-completar .btn-toolbar{
    margin-bottom: 1ex;
}

.plantilla-completar .panel div.wrapper{
    display: inline-block;
    position: relative
}

.plantilla-completar .panel .alternativas-list div.wrapper span.inner-icon {
    position: absolute;
    right: -8px;
    top: 0%;
}

.plantilla-completar .panel div.wrapper span.inner-icon {
    position: absolute;
    right: 7px;
    top: 18%;
}

.plantilla-completar .panel {
    position: relative;
}

.plantilla-completar .panel input{
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 34px;
    padding: 6px 12px;
}

.plantilla-completar .panel img.gray-scale{
    /*-moz-filter: grayscale(90%);
    -ms-filter: grayscale(90%);
    -o-filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -webkit-filter: grayscale(.9);
    filter: gray;
    filter: grayscale(90%);*/
}

.plantilla-completar .panel .helper-zone{
    position: absolute;
    z-index: 100;
}

.plantilla-completar .panel .helper-zone>a{
    background-color: #3fc63d;
    border-radius: 5px;
    color: white;
    display: block;
    padding: 5px;
    text-align: center;
}

.plantilla-completar .panel .helper-zone>a:hover,
.plantilla-completar .panel .helper-zone>a:focus{
    text-decoration: none;
    background: #088706;
}

.plantilla-completar .panel .helper-zone>a[disabled]{
    background-color: #aaa;
    box-shadow: none;
    color: #efefef;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
}

.plantilla-completar .panel .helper-zone>a[disabled]:hover{
    text-decoration: none;
}

.plantilla-completar .panel ul.options-list{
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 100;
}

.plantilla-completar .panel ul.options-list>li.opt-item{
    margin-top: 1px;
    text-align: center;
    width: 194px;
}

.plantilla-completar .panel ul.options-list>li.opt-item>a{
    background: #4f92ff;
    border-radius: 5px;
    color: white;
    display: block;
    padding: 5px;
    word-break: break-word;
}

.plantilla-completar .panel ul.alternativas-list{
    list-style: none;
    min-width: 190px;
    padding: 0;
}

.plantilla-completar .panel ul.alternativas-list>li.alt-item{
    background: white;
    text-align: left;
    padding: 5px;
    padding-left: 1.8em;
}

.plantilla-completar .panel ul.alternativas-list>li.alt-item .alt-letra{
    float: left;
    margin-left: -18px;
    text-transform: lowercase;
}

.plantilla-completar .panel ul.alternativas-list>li.alt-item a{
    color: #333;
    display: inline-block;
    margin-right: 10px;
    word-break: break-word;
}

.plantilla-completar .panel ul.alternativas-list>li.alt-item a:active,
.plantilla-completar .panel ul.alternativas-list>li.alt-item a:hover{
    text-decoration: none;
}

.plantilla-completar .panel ul.alternativas-list>li.alt-item div[data-corregido="good"] a{
    font-weight: bold;
}

.plantilla-completar .panel ul.options-list>li.opt-item>a:hover,
.plantilla-completar .panel ul.options-list>li.opt-item>a:focus{
    background: #174fa8;
    text-decoration: none;
}

.plantilla-completar .panel .isdragable{
    background: white;
    border: 1px solid #3E5BC0;
    border-radius: 7px;
    display: inline-block;
    margin: 1ex;
    padding: 1ex 1ex;
    cursor:move;
}

.plantilla-completar .panel .isdragable:hover{
    background: #f2feff;
    color: black;
}

.plantilla-completar .panel .isdragable.active{
    background: #C2EEEF;
    border: 1px dashed #2FADCF;
}

.plantilla-completar .panel input.ishidden{
    display: none !important;
}