.plantilla-img_puntos .dot-container *:hover{
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.plantilla-img_puntos .botones-edicion{
    margin-bottom: .5em;
}

.plantilla-img_puntos .contenedor-img{
    position: relative;
    padding: 0;
}

.plantilla-img_puntos .contenedor-img img{
    width: 100%;
}

.plantilla-img_puntos .contenedor-img .mask-dots{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.plantilla-img_puntos .contenedor-img .mask-dots.start-tagging{
    cursor: crosshair;
    background: rgba(0,0,0,.3);
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.plantilla-img_puntos .contenedor-img .mask-dots.delete-tagging{
    background: rgba(255,90,90,.3);
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.plantilla-img_puntos .tag-alts>.tag{
    border: 1px solid #bbb;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 4px -2px #bbb;
    margin-left: 15px;
    margin-top: 10px;
    min-height: 38px;
    padding: 8px 10px;
    position: relative;
}

.plantilla-img_puntos .tag-alts>.tag>.arrow{
    border-color: transparent;
    border-left-width: 0;
    border-top-width: 19px;
    border-bottom-width: 19px;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,.25);
    border-style: solid;
    /* border-width: 10px; */
    border-right-width: 20px;
    display: block;
    height: 0;
    left: -20px;
    position: absolute;
    top: -1px;
    width: 0;
}

.plantilla-img_puntos .tag-alts>.tag>.arrow:before{
    border-bottom: 18px solid transparent;
    border-left: 1.5px solid transparent;
    border-right: 19px solid white;
    border-top: 18px solid transparent;
    content: '';
    left: 0px;
    position: absolute;
    top: -18px;
}

.plantilla-img_puntos .tag-alts>.tag:after{
    background: #fff;
    box-shadow: inset 1px 2px 5px #aaa;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: 0 5px 0 0;
    position: absolute;
    right: 0;
    top: 35%;
}

.plantilla-img_puntos .tag-alts>.tag.active{
    background: #70b0e8;
    box-shadow: 2px 2px 10px #70b0e8 !important;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.plantilla-img_puntos .tag-alts>.tag.active:after{
    box-shadow: inset 1px 2px 5px #56a2e4 !important;
}

.plantilla-img_puntos .tag-alts>.tag.active>.arrow:before{
    border-right-color: #70b0e8;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.plantilla-img_puntos .tag-alts>.tag._success_{
    background: #4CAF50;
    box-shadow: 1px 1px 5px #4CAF50 !important;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.plantilla-img_puntos .tag-alts>.tag._success_:after{
    box-shadow: inset 1px 2px 5px #4CAF50 !important;
    background-color: #07fd11;
}

.plantilla-img_puntos .tag-alts>.tag._success_>.arrow:before{
    border-right-color: #4CAF50;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}
.plantilla-img_puntos .tag-alts>.tag.active._success_:hover{
    background: #4CAF50;
}
.plantilla-img_puntos .tag-alts>.tag.active._success_:hover>.arrow:before{
    border-right-color: #4CAF50;
}


.plantilla-img_puntos .tag-alts>.tag.active:hover{
    background: #1780dc;
}

.plantilla-img_puntos .tag-alts>.tag.active:hover>.arrow:before{
    border-right-color: #1780dc;
}



.plantilla-img_puntos .dot-container{
    background: rgba(255,255,255,.1);
    height: 40px;
    position: absolute;
    width: 40px;
}


.plantilla-img_puntos .dot-container>.dot{
    background: #fcfff4;
    background: linear-gradient(to bottom,#fcfff4 0,#dfe5d7 40%,#b3bead 100%);
    box-shadow: inset 0 1px 1px #fff, 0 1px 3px #000;
    border-radius: 50%;
    cursor: pointer;
    height: 50%;
    left: 25%;
    position: absolute;
    top: 25%;
    width: 50%;
}

.plantilla-img_puntos .dot-container.hover>.dot,
.plantilla-img_puntos .dot-container>.dot:hover{
    height: 70%;
    left: 15%;
    top: 15%;
    width: 70%;
}

.plantilla-img_puntos .dot-container>.dot:after{
    background: #6280C5;
    background: linear-gradient(to bottom,#6D8AC9 0,#385598 100%);
    
    border-radius: 50%;
    border: 1.5px solid #333;
    bottom: 4px;
    box-shadow: inset 0 1px 1px #fff, 0 1px 3px rgba(0,0,0,.5);
    content: '';
    left: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
}

.plantilla-img_puntos .dot-container>.dot._success_:after{
    background: #4CAF50;
    background: linear-gradient(to bottom,#4CAF50 0,#2ed353 100%);
}


.plantilla-img_puntos .dot-container.hover>.dot:after,
.plantilla-img_puntos .dot-container>.dot:hover:after{
    bottom: 6px;
    left: 6px;
    right: 6px;
    top: 6px;
}

.plantilla-img_puntos .dot-container>.dot:active:after{
    background: #385598;
    background: linear-gradient(to bottom,#385598 0,#6D8AC9 100%);
}

.plantilla-img_puntos .dot-container>.dot-tag{
    background: rgba(0,0,0,.65);
    border-radius: 4px;
    display: none;
    color: white;
    font-weight: 700;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    top: 110%;
    left: -100%;
    width: 300%;
    /*white-space: nowrap;*/
    z-index: 10;
}

.plantilla-img_puntos .dot-container.edition>.dot-tag{
    left: -25%;
    width: 150%;
    display: initial;
}

.plantilla-img_puntos .dot-container.hover>.dot + .dot-tag,
.plantilla-img_puntos .dot-container>.dot:hover + .dot-tag{
    box-shadow: 0px 0px 5px 4px #85aad0;
    cursor: pointer;
}

.plantilla-img_puntos .dot-container>.dot-tag.corregido{
    padding-left: 20px;
    display: initial;
}

.plantilla-img_puntos .dot-container>.dot-tag.good:before,
.plantilla-img_puntos .dot-container>.dot-tag.bad:before{
    font: normal normal normal 14px/1 FontAwesome;
    left: 4%;
    position: absolute;
    top: 25%;
}

.plantilla-img_puntos .dot-container>.dot-tag.good:before{
    content: "\f00c";
    color: #2ed353;
}

.plantilla-img_puntos .dot-container>.dot-tag.bad:before{
    content: "\f00d";
    color: #fc5c5c;
}

@media (min-width: 0px) and (max-width: 767.99px) {
    .plantilla-img_puntos .dot-container>.dot-tag{
        display: none !important;
    }

    .plantilla-img_puntos .dot-container>.dot-tag.corregido{
        display:  initial !important;
    }

    .plantilla-img_puntos .dot-container>.dot:hover + .dot-tag{
        display: initial;
    }
}

@media (min-width: 0px) and (max-width: 480.99px) {
    .plantilla-img_puntos .dot-container{
        height: 20px;
        width: 20px;
        -moz-transition: all .15s ease-in;
        -webkit-transition: all .15s ease-in;
        -o-transition: all .15s ease-in;
        transition: all .15s ease-in;
    }

    .plantilla-img_puntos .dot-container>.dot{
        height: 70%;
        left: 15%;
        width: 70%;
        top: 15%;
    }

    .plantilla-img_puntos .dot-container.hover>.dot,
    .plantilla-img_puntos .dot-container>.dot:hover{
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    
    .plantilla-img_puntos .dot-container.hover>.dot:after, 
    .plantilla-img_puntos .dot-container>.dot:hover:after{
        bottom: 4px;
        left: 4px;
        right: 4px;
        top: 4px;
    }

    .plantilla-img_puntos .dot-container>.dot-tag{
        font-size: .82em;
        font-weight: 300;
        left: -200%;
        margin-top: 2px;
        width: 400%;
    }
}