#voca-tool table{
    width: 100%;
}

#voca-tool table>thead>tr {
    font-weight: bold;
}

#voca-tool table>tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9;
}

#voca-tool table>caption+thead>tr:first-child>td,
#voca-tool table>caption+thead>tr:first-child>th,
#voca-tool table>colgroup+thead>tr:first-child>td,
#voca-tool table>colgroup+thead>tr:first-child>th,
#voca-tool table>thead:first-child>tr:first-child>td,
#voca-tool table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

#voca-tool table>tbody>tr>td, 
#voca-tool table>tbody>tr>th, 
#voca-tool table>tfoot>tr>td, 
#voca-tool table>tfoot>tr>th, 
#voca-tool table>thead>tr>td, 
#voca-tool table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#voca-tool table tr>td img.table-img{
    width: 200px;
    max-width: 200px;
}

.pnlvocabulario{
    border: 1px solid #88bdd8;
    padding: 1em 1ex;
    font-size: 1.2em;
    margin-bottom: 1ex;
    position: relative;
}
.pnlvocabulario .btnremovevoca{
    position: absolute;
    right: 0px;
    display: none;
}
.pnlvocabulario.edit .btnremovevoca{
    position: absolute;
    right: 0px;
    display: block;
    top:0;
}
.pnlvocabulario .texto
{
   border:0px; 
}
.pnlvocabulario.edit .texto, .pnlvocabulario.edit .textoarea{
    min-width: 50px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
    border:1px solid #ccc;
}
.pnlvocabulario.edit .textoarea{
     min-width: 100%;
    height: 32px;
}
.pnlvocabulario .icon1{
    color:#000;
    cursor: pointer;
}
.pnlvocabulario .icon2{
    color:#fac;
    cursor: pointer;
}