.tbl-links p{
    background-color: #f0f0f0;
    display: inline-block;
    font-weight: bold;
    line-height: initial;
    margin: 0 1em 2em;
    padding: 15px;
    padding-right: 0;
    text-align: -webkit-match-parent;
}
.tbl-links p a{
    background-color: #e0f5fc;
    font-style: italic;
    font-weight: initial;
    margin-left: 1em;
    padding: 15px 30px;
    position: relative;
}
.tbl-links p a:after{
    border-bottom: 23px solid white;
    border-left: 20px solid transparent;
    border-right: 0;
    border-top: 23px solid white;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 767.99px) {
    .tbl-links p{
        margin-right: 5em;
    }
    .tbl-links p a{
        display: block;
        height: 46px;
        line-height: 46px;
        margin-right: -5em;
        overflow: hidden;
        padding: 0 0 0 1em;
    }
}