<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="row">
    <div class="col-md-3">
        <img src="./app/images/tesis.png">     
    </div>  
    <div class="col-md-3">
        <img  src="./app/images/tesis.png">     
    </div>        
  </div>
</div>
</body>