<link href="./css/estilos-nuevo.css" rel="stylesheet" type="text/css" />
<link href="../frontend/plantillas/tema1/css/inicio1.css" rel="stylesheet" type="text/css" />
<script data-require="bootstrap@*" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
<body>
    <div class="container container1" style="background:white">
        <div class="panel-body">
            <div class="panel pnl100">
                <div class="panel-body">

                <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon" >Tipo</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_registro as item.nombre for item in registro" ng-model="estudio.id_registro">
                                  <option value="">--Seleccione Tipo--</option>
                              </select>
                            </div>
                            
                    </div>
                </div>
                </div>
            </div>

            <div class="panel col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="panel-body" >
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                         <label for="">Código:</label>
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Código</span>
                              <select class="conestilo" name="tipo" id="tipo" ng-model="estudio.codigo_tipo" onchange="elegir_opcion(this);">
                                  <option value="op1">ISBN</option>
                                  <option value="2">ISSN</option>
                                  <option value="3">Otro</option>
                              </select>
                            </div>
                         <div id="op1"> <input type="text" class="form-control gris" id="titulo"  name="op1" placeholder="Agregar Código" value="" ng-model="estudio.codigo" required="required"> </div>  
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                             <label for="">Título:</label>
                            </div>
                            <input type="text" class="form-control gris" id="titulo" name="titulo" placeholder="Escriba el título" value="" ng-model="estudio.nombre"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                             <label for="" class="input-group-addon">Título Abreviado</label>
                            
                            <input type="text" class="form-control gris" name="titulo_abreviado" value="" ng-model="estudio.nombre_abreviado"></div>
                        </div>                       
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                             <label for="" class="input-group-addon">Número de páginas</label>
                            
                            <input type="number" class="form-control gris" id="paginas" name="paginas" value="" ng-model="estudio.paginas"></div>
                        </div>                       
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6" id="imagen" style="padding: 0px;">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div style="text-align: center; max-height: 250px; overflow: hidden;"> 
                        <div class="img-container" style="position: relative;">
                          <input type="file" class="cargarfile" data-tipo="image" data-target="hImgPortada" accept="image/*" style="position: absolute; opacity: 0; height: 150px; cursor: pointer" disabled>
                          <img src="./app/images/nofoto.jpg" class="img-responsive" alt="imgfoto" id="imgPortada" style="height: 150px; display: inline">
                          <input type="hidden" name="hImgPortada" id="hImgPortada" value="" disabled>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1rem;">
                        <input type="text" class="form-control gris" name="foto" placeholder="Escriba el nombre de archivo de la foto" value="" ng-model="estudio.foto">
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1rem;">
                          <input type="text" class="form-control gris" name="archivo" placeholder="Escriba el nombre de archivo del archivo" value="" ng-model="estudio.archivo">               
                      </div>
                      </div>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
            </div>
            </div>

            <div class="panel col-xs-12 col-sm-12 col-md-12">
                
                <div class="col-xs-12 col-sm-12 col-md-3">
                     <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Tipo</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_tipo as item.nombre for item in tipo" ng-model="estudio.id_tipo">
                                  <option value="">--Seleccione--</option>
                              </select>
                            </div>
                      </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3">
                   <div class="form-group">
                         <div class="input-group cajaselect">
                            <span class="input-group-addon">Setting</span>
                            <select class="conestilo" name="" id="" ng-options="item.id_setting as item.cant_descargas for item in setting" ng-model="estudio.id_setting">
                                <option value="">--Seleccione Setting--</option>
                            </select>
                          </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon" >Idioma</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_idioma as item.descripcion for item in idioma" ng-model="estudio.id_idioma" style="text-transform: capitalize;">
                                  <option value="">--Seleccione Idioma--</option>
                              </select>
                            </div>                            
                        </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="form-group">
                           <div class="input-group cajaselect">
                              <span class="input-group-addon">Condición</span>
                              <select class="conestilo" name="" id="" ng-model="estudio.condicion">
                                 <option value="">--Seleccione--</option>
                                  <option value="gratis">Gratis</option>
                                  <option value="alquiler">Alquiler</option> 
                                  <option value="venta">Venta</option> 
                              </select>
                            </div>
                        </div>
                </div>

                </div>
            </div>
            <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-3" >
                        <div class="form-group">
                           <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <input type="number" min="0" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="estudio.precio">
                            </div>                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="input-group cajaselect">
                              <span class="input-group-addon" >Editorial</span>
                              <select class="conestilo" name="" id="" ng-options="item.id_editorial as item.nombre for item in editorial" ng-model="estudio.id_editorial" style="text-transform: capitalize;">
                                  <option value="">Seleccione</option>
                              </select>
                            </div>  
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="form-group">
                               <div class="input-group">
                                  <span class="input-group-addon">Edicion</span>
                                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="estudio.edicion">
                                </div>                            
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="form-group">
                               <div class="input-group">         
                                <input type="date" ng-change="filtroFechas()" class="form-control" name="fecha" ng-model="estudio.fecha">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12 autor">
                        <div class="form-group">
                           <div class="input-group">
                              <label for="">Autor (es):</label>
                               <a type="button" class="btn btn-primary nuevoBoton" data-toggle="modal" data-target="#myModalAutor"><i class="fa fa-plus fa-1x"></i></a>
                            </div>
                            <div id="global">
                            <div class="col-md-6 col-sm-6 col-xs-*" id="#scroll" ng-repeat="rowAutor in autor" style="display:flex">
                            <input type="checkbox" value="true" ng-model="rowAutor.estado">
                            <label style="padding-top:5px; text-transform:capitalize;font-weight:inherit">{{rowAutor.nombre+' '+rowAutor.ap_paterno}}</label>
                            </div></div>
                        </div>
                    </div>      
                </div>
        </div>
        
        <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                              <label for="">Categoría (s):</label>
                              <a type="button" class="btn btn-primary nuevoBoton" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus fa-1x"></i></a>
                            </div>
                            <div style="margin:10px"><label id="modalAutor" for="">Elija Categoría</label>
                              <select class="conestilo1" name="" id="" ng-options="item.id_categoria as item.descripcion for item in categoria" ng-model="categoria.id_categoria" style="text-transform:capitalize;">
                                  <option value="">--Seleccione categoría--</option>
                              </select> </div>
                              <label for="" style="margin:10px">Subcategorías:</label>
                            <div id="global" style="border: 1px solid #4466bb; margin-bottom: 10px">
                            <div class="col-md-4 col-sm-6 col-xs-*" id="scroll" ng-repeat="rowDetalle in subcategoria" style="display:flex;margin-top:5px">
                                <input type="checkbox" value="true" ng-model="rowDetalle.estado">
                                <label style="padding-top:5px; text-transform:capitalize; font-weight:inherit">{{rowDetalle.descripcion}}</label>
                            </div></div>
                            <a href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalSubcategoria"><i class="fa fa-plus"></i> Sub categoría</a>
                        </div>
                    </div>
                            
                    </div>
        </div>   
        <div class="panel col-xs-12 col-sm-12 col-md-12">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                              <label for="">Resumen:</label>
                            </div>
                            <textarea name="" id="" rows="3" ng-model="estudio.resumen" style="width:100%"></textarea>
                           </div>
                            </div>
                            
                    </div>
        </div>  
            <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <br>
                <a type="button" class="btn btn-success" ng-click="guardarEstudios()" data-dismiss="modal"><i class=" fa fa-save"></i> Guardar</a>
                <a type="button" class="btn btn-danger" data-dismiss="modal" href="./#/estudios"><i class=" fa fa-times"></i> Cancelar</a>
        </div>
            
            
            </div>
</div></div></div>
</body>

<script type="text/javascript"> 
  function elegir_opcion(combo) {
    $tipo = jQuery(combo).val();
    $campos = jQuery("#"+$tipo).html();
    jQuery(".opcionesWrapper").html($campos);
  }
</script>