a.exa-menu{
	color: #FFF;
	font-size: 1.2em;	
}

ul.menus-examenes li.active a{
	color: #f5ab40;
	font-size: 1.2em;
}


.cajaselect {  
	   overflow: hidden;
	   width: 100%;
	   position:relative;
	   font-size: 1.8em;
}
.cajaselect::after{
	  font-family: FontAwesome;
	  content: "\f0dd";
	  display: inline-block;
	  text-align: center;
	  width: 30px;
	  height: 100%;
	  background-color: #4683af;
	  position: absolute;
	  top: 0;
	  right: 0px;
	  pointer-events: none;
	  color: antiquewhite;
	  bottom: 0px;
	  border-radius: 0.1ex 0.25ex 0.25ex 0.1ex;
}

.cajaselect.gris::after{
	  background-color: #383a3c;
	  color: #f9f9f9;
}

select.conestilo {
	   background: transparent;
	   border: 2px solid #4683af;   
	   padding: 5px;
	   width: 100%;
	   padding: 0.3ex 2ex; 
	   border-radius: 0.25ex;
}
select.conestilo.gris , input.gris, textarea.gris {
	   border: 1.5px solid #383a3c; 
}

input.rojo, label.rojo{
	border: 1.5px solid #da1313;
	color:  #da1313;
}

label.isgrupo{
	margin: 0.5ex 0;
    width: 100%;
    border-radius: 0.5ex;
    padding: 0.7ex;
    text-align: center;
    cursor: no-drop;
}

img.img-portada{
	cursor: pointer;
}


select.conestilo:focus{ outline: none;}

.panel-filtros{
	margin: 1ex 0px;
	padding: 0px;
} 
.pnl100{
	width: 100%;
}
.panel, .panel-heading, .panel-body{
	text-align: left;
	margin:0;
}
.panel{
	border: 1px solid rgba(148, 140, 140, 0.4);
	margin:0 0 1ex 0;
}
.panel-body{
	margin: 0px;
	padding: 1ex;
}
.panel-heading{
	margin: 0px;
	padding: 1ex 1.2em ;
}
.btn{
	border-radius: 0.35ex;
}
.exa-item{
	margin: 1ex 0px;
    padding: 0ex;
    border: 1px solid #337ab7;
    border-radius: 0.5ex;
}
.exa-item .titulo{
	text-align: center;
	font-size: 1.3em;
}

