.wavesurfer{
	background-color:#e8efef;
	border: 1px solid #ccc;
}

.textohablado{
	font-size:1.5em;
}
.speachtexttotal{
	font-weight: bold;
	font-size:1.7em;
}
.speachtextook{
	color:#32885a;
}
.edittexto_ch{
	color: #0844b1;
    font-size: 1.5em;
}

/*.speachtextook::after{
   content: '\f00c';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
}*/

.speachtextobad{
	color:#f00;
	text-decoration: line-through;
}
/*.speachtextobad::after{
	content: '\f00d';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
}*/
