#smartbook-listar #levels,
#smartbook-listar #units,
#smartbook-listar #lessons{
    margin-bottom: 10px;
    margin-top: 10px;
}

#smartbook-listar h3{ 
    border: 1px solid #7b2a00;
    background-color: #bd4304; 
    color: white;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
   /* text-transform: uppercase;*/
}

#smartbook-listar #levels>.level-wrapper, 
#smartbook-listar #units>.unit-wrapper,
#smartbook-listar #lessons>.lesson-wrapper{
	background: #fff;
    border: 1px solid #7b2a00;
    border-top: 0;
    display: block;
    max-height: 210px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    white-space: nowrap;
}

#smartbook-listar #levels .level-list, 
#smartbook-listar #units .unit-list,
#smartbook-listar #lessons .lesson-list{
    position: relative;
}

#smartbook-listar h3.level-title span, 
#smartbook-listar h3.unit-title span,
#smartbook-listar h3.lesson-title span{
    color: #fcab92;
}

#smartbook-listar #levels .level-list .level-item, 
#smartbook-listar #units .unit-list .unit-item,
#smartbook-listar #lessons .lesson-list .lesson-item{
    background-image: url('img/book.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5%;
    display: inline-block;
    height: 154px;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

#smartbook-listar #levels .level-list a:hover,
#smartbook-listar #units .unit-list a:hover,
#smartbook-listar #lessons .lesson-list a:hover{
    background-image: url('img/book_hover.png');
    text-decoration: none;
    background-color: #e3cabf;
}


#smartbook-listar #levels .item-add .level-add,
#smartbook-listar #units .item-add .unit-add,
#smartbook-listar #lessons .item-add .lesson-add{
   background-image: url('img/bookadd.png');
   background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5%;
    display: inline-block;
    height: 154px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    opacity: .6;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-shadow: -3px 2px 3px #333;
}

#smartbook-listar #levels .item-add a.level-add:hover,
#smartbook-listar #units .item-add a.unit-add:hover,
#smartbook-listar #lessons .item-add a.lesson-add:hover{
    background-image: url('img/bookadd.png');
    opacity: 1;  
     text-decoration: none; 
     background-color: #e3cabf;
}

#smartbook-listar #levels .level-list .level-item.active,
#smartbook-listar #units .unit-list .unit-item.active,
#smartbook-listar #lessons .lesson-list .lesson-item.active{
    background-image: url('img/book_active.png');
    text-decoration: none;
    background-color: #ff764d;
}

#smartbook-listar #levels .level-list a:active, #smartbook-listar #levels .level-list a:focus,
#smartbook-listar #units .unit-list a:active, #smartbook-listar #units .unit-list a:focus,
#smartbook-listar #lessons .lesson-list a:active, #smartbook-listar #lessons .lesson-list a:focus{
    text-decoration: none;
    background-color: #ff764d;
}

#smartbook-listar #levels .level-list .level-item>.level-name, 
#smartbook-listar #units .unit-list .unit-item>.unit-name,
#smartbook-listar #lessons .lesson-list .lesson-item>.lesson-name{
	background: rgba(255,255,255,0.7);
    color: #333;
    font-weight: bolder;
    /*text-shadow: 2px 0px 3px #333;*/
}

#smartbook-listar #levels .level-list .level-item>.level-name{
    font-size: 2.5em;
    /*padding-left: 20%;*/
    padding-top: .3em;
}

#smartbook-listar #units .unit-list .unit-item>.unit-name,
#smartbook-listar #lessons .lesson-list .lesson-item>.lesson-name{
    /*top: 13%;*/
    top: 10px;
    font-size: 1.2em;
    left: 22%; 
    /*padding: 5px;*/
    position: absolute; 
    white-space: initial;
    width: 56%;
    word-wrap: break-word;
    /*z-index: 99; */
}

#smartbook-listar #levels .level-list>.level-item>img,
#smartbook-listar #units .unit-list>.unit-item>img,
{ margin: 0 auto;}

#smartbook-listar #units .unit-item>img.caratula-libro,
#smartbook-listar #lessons .lesson-item>img.caratula-libro{
    height: 148px ; 
    /*left: 70px; */
    margin: 0 auto;
    max-width: 116px;
    /*opacity:0.9;*/
    padding: 10px 0 4px 0; 
    /*position: absolute;
    transform: matrix3d(1.193304, 0.165031, 0, 0.002695, 0.010108, 1.051183, 0, 0.000108, 0, 0, 1, 0, 0, 0, 0, 1); 
    transform-origin: 0px 0px 0px; */
    z-index: 9; 
}

#smartbook-listar .slick-slide{
	position: relative;
}