body#diplomado-tmpl {
	background-image: url('./img/bg2.png');
	background-repeat: no-repeat;
	background-size: 100% 100vh;
}

#diplomado-tmpl .loader-diplomado {
    height: initial !important;
    left: 0 !important;
    width: initial !important;
    top: 0 !important;
}

#diplomado-tmpl .loader-diplomado img {
	width: 100%;
	height: 112vh;
}

#diplomado-tmpl header {
	background: transparent;
}
#diplomado-tmpl header #account {
	background: #085196;
    border-radius: 50%;
    box-shadow: inset 0px 0px 15px 0px #fff;
}
#diplomado-tmpl .menutop1.nav li a.hvr-buzz-out:hover,
#diplomado-tmpl .menutop1.nav .open>a.hvr-buzz-out, 
#diplomado-tmpl .menutop1.nav .open>a.hvr-buzz-out:focus, 
#diplomado-tmpl .menutop1.nav .open>a.hvr-buzz-out:hover{
    background: transparent !important;
}

#diplomado-tmpl header .changerol {
	font-size: 1em;
	color: #085196 !important;
}

#diplomado-tmpl .changerol:hover {
	color: #fff !important;
}


#diplomado-tmpl .main {
	background: initial;
}

#diplomado-tmpl .main h1.titulo {
	background: rgba(0,0,0, 0.5);
    color: rgb(255, 255, 255) !important;
    padding: 1rem 0px;
    position: relative;
}
#diplomado-tmpl .main .categorias {
	background: rgba(255,255,255,0.7);
    font-size: 1.8em;
    line-height: 2em;
    margin: 0 auto;
    padding: 2rem 10rem;
	width: 75%;
}

#diplomado-tmpl .main .cursos .cur-nombre {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#diplomado-tmpl .main .cursos .cur-descripcion {
    height: 60px;
    overflow: hidden;
}

#diplomado-tmpl .main .btn-volver {
    font-size: 0.7em;
	left: 65px;
	position: absolute;
}