 .container{
    margin-top: 5px;
 }

 #menu-curso {
    position: fixed;
 }

 #curso-contenido {
    position: relative;
    left: 100px;
 }

/****************** INICIO ******************/
 .panel{
    box-shadow: 2px 2px 10px -1px #ccc;
 }
 .panel .panel-heading{
    position: relative;
 }
 .panel .panel-heading .panel-titulo{
    margin: 0;
 }
 .panel .panel-heading a.ver-todo{
    background: rgba(255,255,255,0.2);
    color: white;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
 }
 .panel .panel-heading a.ver-todo:hover{
    background: rgba(255,255,255,0.4);
 }
 .panel .panel-heading .ver-todo>i{
    padding: 0 12px;
    top: 25%;
 }
 #inicio .row {
    margin-bottom: 5px;
 }
 
 #inicio .panel {
    margin-bottom: 0px;
 }

 #inicio #pnl-bottom {
    margin-top: 5px;
 }

 #inicio #botones-menu div.btn_submenu {
    border-radius: 4px;
    height: 180px;
    left: 15px;
    overflow: auto;
    position: absolute;
    width: 89.35%;
 }

 #inicio #botones-menu div.btn_submenu ul{
    padding-left: 23px;
 }

 #inicio #botones-menu div.btn_submenu ul a {
    color: white;
 }
 
 #inicio #botones-menu div.btn_submenu ul a:hover, 
 #inicio #botones-menu div.btn_submenu ul a:focus {
    color: white;
    font-weight: bolder;
 }
 
 #inicio #botones-menu .portfolio ,
 #inicio #botones-menu #portfolio {
    height: 370px;
 }

 #pnl-cursos .panel-body {
    padding-bottom: 45px;
    padding-top: 45px;
 }

 #pnl-cursos .slider-cursos .item-curso{
    padding-left: 10px;
    padding-right: 10px;
 }
 #pnl-cursos .slider-cursos .item-curso img.caratula{
    border: 3px solid #1ABC9C;
    border-radius: 50%;
    height: 170px;
    width: 200px
 }
 #pnl-cursos .slider-cursos .item-curso .nombre{
    font-size: 1.4em;
    font-weight: bolder;
    /*max-width: 150px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }

 #pnl-agenda .panel-body{
    padding: 0;
    overflow: auto;
    height: 201px;
 }
 #pnl-agenda .panel-body .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F4F1F0;
 }
 #pnl-logros{
    margin-top: 10px;
 }
 #pnl-logros .panel-body{
    height: 321px;
    overflow: auto;
 }
 #pnl-logros .item-logro img{
    height: 145px;
 }

 #portfolio ul {
    font-size: 1.2em;
 }

/****************** CURSO ******************/
 #menu-curso .btn{
    border: 0;
    border-radius: 0;
    border-style: solid;
    border-width: 7px 0px;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    width: 100%;
 }
 #menu-curso .btn.btn-red{ border-color: #E74C3C;  }
 #menu-curso .btn.btn-turquoise{ border-color: #1ABC9C;  }
 #menu-curso .btn.btn-brown-dark{ border-color: #75706B;  }
 #menu-curso .btn.btn-blue{ border-color: #2f81d4;  }
 #menu-curso .btn.btn-yellow{ border-color: #F1C40F;  }
 #menu-curso .btn.btn-aqua{ border-color: #3498DB;  }
 #menu-curso .btn.btn-purple{ border-color: #9B59B6;  }
 #menu-curso .btn.btn-green{ border-color: #2ECC71;  }
 #menu-curso .btn.btn-orange{ border-color: #E67E22;  }

 #menu-curso .btn.btn-red.activo{ border-bottom-color: #F6C0BB;  }
 #menu-curso .btn.btn-turquoise.activo{ border-bottom-color: #79EBD3;  }
 #menu-curso .btn.btn-brown-dark.activo{ border-bottom-color: #BAB7B4;  }
 #menu-curso .btn.btn-blue.activo{ border-bottom-color: #A7CAEB;  }
 #menu-curso .btn.btn-yellow.activo{ border-bottom-color: #F8E39A;  }
 #menu-curso .btn.btn-aqua.activo{ border-bottom-color: #ADD6EF;  }
 #menu-curso .btn.btn-purple.activo{ border-bottom-color: #D7BFE2;  }
 #menu-curso .btn.btn-green.activo{ border-bottom-color: #A8EAC2;  }
 #menu-curso .btn.btn-orange.activo{ border-bottom-color: #F4CBA8;  }

 #menu-curso .btn .badge{
    background: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    height: 25px;
    padding: 4px 0px;
    position: absolute;
    right: -3px;
    top: -11px;
    width: 25px;
 }

 #curso-inicio .titulo-tipo-nivel {
    padding: 5px 15px;
    border-radius: 4px;
 }

 #curso-inicio #unidad_activa_sesiones .cerrar {
    cursor: pointer;
 }

 #curso-inicio #unidad_activa .card-nivel {
    margin-top: 15%;
 }

 #curso-inicio .slick-slide {
    transition: all 300ms ease;
    /*opacity: 0.7;*/
 }

/*
 #curso-inicio .card-nivel:hover {
    transition: all 0.5s ease;
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    opacity: 1;
    transform: scale(1.05);
 }*/

 #curso-inicio .caratula{
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    position: relative;
    height: 200px;
    width: 200px;
 }
 #curso-inicio .ultima_actividad>*{
    display: inline-block;
    margin-right: 15px;
    position: relative;
 }
 #curso-inicio .ultima_actividad>*:before{
    content: "\f111";
    color: #E74C3C;
    font: normal normal normal 10px/1 FontAwesome;
    position: absolute;
    top: 30%;
    left: -15px;
 }
 #curso-inicio .ultima_actividad>*:first-child:before{
    content: none;
 }

 #curso-inicio .card-nivel{
    border: none;
    border-radius: 1em;
    cursor: pointer;
    display: -webkit-box;
    height: 190px;
    /*margin-bottom: 30px;*/
    overflow: hidden;
    padding: 0;
 }

 #curso-inicio .card-nivel .nombre-contenedor {
    left: 0;
    bottom: 15%;
    position: absolute;
 }

 #curso-inicio .card-nivel .nombre h2,
 #curso-inicio .card-nivel .nombre h3,
 #curso-inicio .card-nivel .nombre h4,
 #curso-inicio .card-nivel .nombre h5{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.6em;
    /*font-weight: bolder;*/
    padding: 8px 4px;
 }

 #curso-inicio .card-nivel .barra-progreso {
    left: 0;
    bottom: 15%;
    position: absolute;
 }

 #curso-inicio .card-nivel .barra-progreso .progress{
    border-radius: 0px;
    height: 9px;
    margin-bottom: 0px;
    margin-top: -2px;
 }
 
 #curso-inicio .card-nivel .botones {
    background-color: rgba(0,0,0,0.2);
    bottom: 0px;
    display: none;
    left: 0px;
    padding-top: 10%;
    position: absolute;
    right: 0px;
    top: 0px;
 }

 #curso-inicio .card-nivel:hover .botones{
    display: block;
 }

 #curso-inicio .card-nivel .botones .btn{
    font-size: 2em;
 }

 /*#curso-inicio .card-nivel .image {
    height: 120px;
    perspective: 1000px; 
 }*/
 #curso-inicio .card-nivel .image img{
    height: 100%;
    position: absolute;
    width: 100%;
 }

 #curso-inicio .card-nivel.locked{
    cursor: initial;
 }

 #curso-inicio .card-nivel.locked>*{
    color: rgba(127, 140, 141, 0.65);
 }

  #curso-inicio .card-nivel.locked{
    background-image: url('./img/level_book_grey.png');
    background-size: cover;
 }

 #curso-inicio #unidad_activa_sesiones .card-nivel.locked:before{
    left: 40%;
 }


 #curso-inicio .card-nivel.locked:before{
    color: #34495E;
    content: "\f023";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.5em;
    left: 10%;
    position: absolute;
    text-rendering: auto;
    z-index: 100;
 }
 
 #curso-inicio .card-nivel.locked img{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    /*opacity: 0.65;*/
 }
 
 #curso-inicio .card-nivel.locked button,
 #curso-inicio .card-nivel.locked a,
 #curso-inicio .card-nivel.locked .btn{
    /*background: rgba(127, 140, 141, 0.65);*/
    pointer-events: none !important;
 }

 #curso-inicio .slider.desabilitado .card-nivel {
    opacity: .5;
    pointer-events: none;
 }
 
 #curso-inicio #sesiones_activas .panel {
    margin-bottom: 0px;
 }

 #curso-inicio #sesiones_activas .panel .panel-heading span.cerrar {
    margin-top: -30px;
 }

 #curso-inicio #sesiones_activas .slick-slider{
    margin-bottom: 0px;
 }

 #curso-inicio #sesiones_activas .slick-slider .slick-list{
    padding-bottom: 5px;
    padding-top: 3px;
 }

 #curso-inicio #sesiones_activas .card-nivel{
    border-radius: 50%;
    box-shadow: 0px 0px 10px -2px #777;
    width: 140px;
    height: 140px;
 }

 #curso-inicio #sesiones_activas .card-nivel .barra-progreso {
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: none;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    padding-top: 35%;
    text-align: center;
    top: 0;
 }

 #curso-inicio #sesiones_activas .card-nivel:hover .barra-progreso {
    display: block;
 }

 #curso-inicio #sesiones_activas .card-nivel .barra-progreso .progress {
    display: none;
 }

 #curso-inicio #sesiones_activas .hvr-sink:active, 
 #curso-inicio #sesiones_activas .hvr-sink:focus, 
 #curso-inicio #sesiones_activas .hvr-sink:hover {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
 }
 
 #curso-inicio #sesiones_activas .name-on-hover {
    left: 0;
    position: absolute;
    top: 0;
 }

/****************** CURSO/INFORMACION ******************/
 #curso-info .panel .panel-body{
    overflow: auto;
    height: 300px;
 }
 #curso-info .foto_docente{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    max-height: 100px;
 }
 #curso-info .titulo{
    border-radius: 5em;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 7px;
    padding-top: 7px;
 }
 #curso-info .informacion{
    padding: 0;
 }
 #curso-info .informacion>*{
    margin-bottom: 10px;
 }
 #curso-info .informacion .texto_info{
    padding: 0;
 }

/****************** CURSO/HORARIO ******************/
 #curso-horario .calendar{
    background: #fff;
    box-shadow: 0px 0px 5px -1px #75706b;
    padding-top: 1%;
    padding-bottom: 1%;
 }

/****************** CURSO/COMPANIEROS ******************/
 #curso-companieros .foto_alumno{
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 130px;
    margin-bottom: 10px;
    width: 130px;
 }
 #curso-companieros .informacion{
    padding: 0;
    margin: 0;
 }
 #curso-companieros .informacion>*{
    margin-bottom: 10px;
    padding: 0;
 }
 #curso-companieros .informacion .texto_info{
    padding: 0;
    word-break: break-all;
 }

/****************** CURSO/ACADEMICO ******************/
 #academico .nav>li>a, #academico .nav>li>a:hover{
    background-color: #F5DA6F;
    color: #fff;
 }
 #academico .nav>li.active>a{
    background-color: #F39C12;
 }
 #academico .panel table.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #FDFBF6;
 }

 #academico .panel .table>tbody>tr>td, #academico .panel .table>tbody>tr>th, 
 #academico .panel .table>tfoot>tr>td, #academico .panel .table>tfoot>tr>th, 
 #academico .panel .table>thead>tr>td, #academico .panel .table>thead>tr>th{
    border-top-color: #F1C40F;
 }

/****************** ACTIVIDADES/PRACTICAR ******************/
 #actividades_practicar .item_cursonivel img{
    max-height: 165px;
    min-height: 165px;
    height: 165px;
 }

 #actividades_practicar .item_cursonivel .nombre_item{
    background: rgba(0,0,0,0.5);
    bottom: 15px;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 86%;
 }

 #actividades_practicar .nav.nav-tabs>li>a {
    background: #fff;
    border-radius: 4em 4em 0 0;
    font-size: 1.5em;
    margin-right: 5px;
 }
 
 #actividades_practicar .nav.nav-tabs>li.active>a {
    background-color: #16a085;
    border-color: transparent;
    color: #fff;
 }

 #actividades_practicar .tab-content>.tab-pane.active {
    background: #fff;
    border: 6px solid #16a085;
    padding: 0 15px;
 }

/****************** MEDIA QUERYS RESOPNSIVE ******************/
 @media (min-width:768px) and (max-width: 879.99px){
    
 }

 @media (min-width: 385px) and (max-width: 767.99px){
     #menu-curso .btn{
        width: 32.9%;
     }
     #menu-curso {
        position: initial;
     }

     #curso-contenido {
        left: 0;
     }
     #menu-curso .btn>i.fa, #menu-curso .btn>i.glyphicon{
        font-size: 1.5em;
     }
 }

 @media (max-width: 384.99px) {
     #menu-curso .btn{
        width: 48%;
     }
     #menu-curso {
        position: initial;
     }

     #curso-contenido {
        left: 0;
     }
     #menu-curso .btn>i.fa, #menu-curso .btn>i.glyphicon{
        font-size: 1.5em;
     }
 }

 @media (max-height: 800px) and (min-width: 1250px){
     #pnl-logros .panel-body{
        height: 270px;
     }

     #inicio .btn-panel-container.panelcont-xs>.btn-panel,
     #inicio #botones-menu div.btn_submenu {
        font-size: 1.2em;
        height: 90px;
     }


     #inicio #botones-menu .portfolio ,
     #inicio #botones-menu #portfolio {
        height: 190px;
     }
 }