<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="row">
    <div class="col-md-4">
        <img src="./app/images/nofoto.jpg">
    </div>      
    <div class="col-md-8 col-xs-12">
      <div class="row">
        <label for="" >Título</label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_libro.nombre" disabled>
        </div>
      </div>
      <div class="row">
        <label for="">Código</label><br>
        <div>
          <input type="text" class="col-md-12 col-xs-12" ng-model="bib_libro.codigo" disabled>
        </div>
      </div>
      <div class="row">
        <label for="">Resumen</label><br>
        <div>
          <textarea class="col-md-12 col-xs-12" cols="30" rows="3" ng-model="bib_libro.resumen" disabled></textarea>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="row" id="botonesLibro">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Descargar</button>
    </div>
  </div> 
  <div class="row" id="botonesLibro">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Reservar</button>
  </div>
  </div>    
  </div>
</div>
</body>