 <link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<body>
<div class="container nuevo">
  <div class="panel-body">
     <a type="button" class="btn btn-primary" onclick="goBack()"><i class="fa fa-arrow-left" style="margin-right: 5px;color:#fff"></i><h5 translate="atras" style="margin:auto;color:#fff"></h5></a>
    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
           <div class="hvr-float cont-img" ng-repeat="row in grabacion" >
            <a href="" ng-click="eliminar(row.id_grabacion)"><div class="namelevel text-right i"><i class="fa fa-trash"></i></div></a>
            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>    
        </div>              
    </div>
    </div>
    </div> 

<script type="text/javascript">
  function goBack() {
      window.history.back();
  }
</script>
</body>