// Bootstrap Reboot only
//
// Includes only Normalize and our custom Reboot reset.

@import "custom";
@import "variables";
@import "mixins";

@import "reboot";

$principal:#4466bb;
$texto:#333;
$fondo:#f4f4f4;

html{
	font-size:15px;
}
body{
	margin: 0;
    font-family:'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    background:$fondo;
    color:$texto;
}
.encabezado{
	background:$principal;
	padding:.5rem 0;
}
.encabezado .container{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
.boton-menu{
	border:0;
	font-size:1.5rem;
	margin:0;
	padding:0 .5rem;
	background:transparent;
	color:#fff;
	margin-left:auto;
}
.boton-menu:focus{
	outline:0;
}

#menu-principal1{
	display:none;
}
#menu2{
    display: none;
}
#menu-principal{
	flex:1 1 100%;
}

#menu-principal ul{
	padding:0;
	list-style:none;
	margin:1rem 0 0 0;
}
#menu-principal li{
	float:none;
}
#menu-principal ul a{
	display:block;
	color:$texto;
	padding:.5rem 0;
	text-align:center;
	color:$texto;
	border-top:1px solid #8c8888;
	text-decoration:none;
}
#menu-principal ul a:hover, 
#menu-principal ul li:active a{
	color:#fff;
	cursor:pointer;
}
.social{
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 2000;
}
.social ul{
    list-style: none;
}
.social ul li a{
    display: inline-block;
    color:#fff;
    //background: $principal;
    background: linear-gradient(70deg, rgba(68,102,187,1) 52%, rgba(252,252,252,1) 100%);
    padding: 10px 0;
    text-decoration: none;
    transition: all 500ms ease-in;
    border: 2px solid #fff;
    border-radius: 4px;
}
.social ul li a i{
    transform: rotate(90deg);
}
.texto{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.social ul li a:hover{
    padding: 10px 5px;
    color:$principal;
    background: linear-gradient(70deg, rgba(252,252,252,1) 30%,rgba(68,102,187,1) 100%);
    border: 2px solid #fff;
    border-radius: 4px
}

@media(min-width:768px){
	#menu-principal{
		display:none;
	}
    #menu{
        display: none;
    }
    #menu2{
        display: block;
    }
	#menu-principal1{
		height:auto !important;
		float: rigth;
		display:block;
		flex:0 1 auto;
		order:1;
	}
	#menu-principal1 ul{
		display:flex;
		margin:0 0 0 0;
		list-style:none;
	}
	#menu-principal1 ul li a{
		padding: 0;
		margin: 0 1rem;
		border-top: 0px;
		border-bottom: 4px solid #transparent;

	}
	#menu-principal1 ul li a i{
		font-size: 1.5rem;
		color:#fff;
	}
	#menu-principal1 ul li.active a,
	#menu-principal1 ul li a:hover{
		margin:1rem;
		color:#fff;
		border-bottom: 2px solid #fff;
		background:$principal;
	}
    #button{
        display: none;
    }
	.boton-menu{
	order:2;
	}
}
