/*** LISTADO ***/
#listar-archivos .btn.agregar-archivo {
    /*margin-bottom: 15px;*/
}

#listar-archivos .elem-archivo img {
    background: #f7eded;
    height: 252px;
    max-height: 252px;
}

#frmAgregarArchivo img {
    height: 135px;
    max-height: 135px;
}

#frmAgregarArchivo .image-selector {
    overflow: hidden;
}

#frmAgregarArchivo .image-selector:before {
    background: #46b;
    color: #fff;
    content: "\f040";
    cursor: pointer;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.4em;
    left: 15px;
    padding: 5px;
    position: absolute;
    top: 0px;
}

#frmAgregarArchivo #fileImagen {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
}

/*** EDITAR y VER ***/
.registro-notas {
    margin-top: 15px;
}

.registro-notas #titulo_registro {
    margin-top: 0;
}

.registro-notas #registro {
    background: #fff;
    border: 2px solid transparent;
}

.registro-notas #edita-alumnos table tr{
    border-right: 3px solid #ddd;
}

.registro-notas #message-zone {
    border-radius: 5em;
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 0px 10px;
}

.registro-notas #message-zone.done { background: #34a853; }
.registro-notas #message-zone.done:before { 
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.registro-notas #message-zone.loading { background: #fbbc05; }
.registro-notas #message-zone.loading:before {
    animation: fa-spin 2s infinite linear;
    content: "\f1ce";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: fa-spin 2s infinite linear;
}

.registro-notas #message-zone.error { background: #ea4335; }
.registro-notas #message-zone.error:before {
    content: "\f06a";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.registro-notas .vertical {
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.registro-notas table td, 
.registro-notas table th {
    height: 52px;
    overflow: hidden;
    white-space: nowrap;
}

.registro-notas table.table {
    margin-bottom: 5px;
}

.registro-notas .tabla-contenidos {
    overflow: hidden;
    padding: 0px;
}

.registro-notas .tabla-contenidos thead, 
.registro-notas .tabla-contenidos tbody {
    display: block;
}


.registro-notas .tabla-contenidos thead th, 
.registro-notas .tabla-contenidos tbody td{
    width: 500px;
}

body li.gu-mirror table tbody ,
.registro-notas .tabla-contenidos ul.sindu_dragger table tbody ,
.registro-notas .tabla-contenidos tbody {
    overflow: hidden;
    height: 500px;
}


body li.gu-mirror .table-text-center th ,
.registro-notas .tabla-contenidos ul.sindu_dragger .table-text-center th ,
.registro-notas .table-text-center th ,
.registro-notas .table-text-center td {
    text-align: center;
}

.registro-notas .table-text-center input {
    text-align: center;
}

.registro-notas #notas-main {
    overflow-x: auto;
}

.registro-notas #notas-main table>thead>tr>th {
    border-bottom: none;
    padding-bottom: 15px; 
}


body li.gu-mirror table thead th>i.drag_column,
.registro-notas #notas-main ul.sindu_dragger table thead th>i.drag_column,
.registro-notas #notas-main table thead th>i.drag_column {
    color: #aaa;
    font-size: 0.8em;
    left: 5px;
    position: absolute;
    top: 45%;
}

.registro-notas #notas-main table thead th>.editar-columna:hover {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

.registro-notas #notas-main table thead th>.borrar-columna {
    position: absolute; 
    right: 2px; 
    top: 0;
}

body li.gu-mirror table.table-striped>tbody>tr:nth-of-type(even) ,
.registro-notas #notas-main table.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.registro-notas #notas-main table>thead {
    border-bottom: 1.5px solid #ddd;
}

.registro-notas #notas-main table>thead .head_col span {
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 2px 4px;
}

.registro-notas #notas-main table>tbody>tr:first-child>td {
    border-top: 0.5px solid #ddd;
}

body li.gu-mirror table th ,
body li.gu-mirror table td ,
.registro-notas #notas-main table th ,
.registro-notas #notas-main table td {
    border-right: 1px solid #ddd;
    max-width: 90px !important;
    position :relative;
    width: 90px !important;
}
.registro-notas #notas-main table th.col_texto ,
.registro-notas #notas-main table td.col_texto {
    white-space: initial;
    /*width: 25% !important;*/
}
.registro-notas #notas-main table td.col_texto {
    font-size: .84em;
}

body li.gu-mirror table>tbody td>button ,
.registro-notas #notas-main table>tbody td>button {
    background: transparent; 
    border:none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.registro-notas #notas-main table>tbody td > button:focus {
    outline: none;
}

#ver-notas #notas-main table>tbody td.nota.aprobado {
    color: #395ee8;
}

#ver-notas #notas-main table>tbody td.nota.desaprobado {
    color: #f33838;
}

.registro-notas .contenedor-tabla .botones {
    position: absolute;
    top: 20px;
}

.registro-notas .contenedor-tabla .botones .btn-accion {
    position: fixed;
}

.registro-notas .contenedor-tabla .botones .btn-accion.editar-cols { left: 79%; } 

.registro-notas .contenedor-tabla .botones .btn-accion.agregar-alums { left: 30%; } 

.registro-notas .contenedor-tabla .botones .btn-accion i.fa {
    font-size: 1.5em;
}

.registro-notas .tabla-contenidos:last-child tbody {
    overflow: auto;
    margin-right: -7px;
}

.registro-notas .tabs-right > .nav-tabs {
    margin-left: 0;
}

.registro-notas .tabla-contenidos table tr.tr_comodin {
    background: #fff !important;
}

.registro-notas .tabs-right > .nav-tabs > li > a {
    transition: all ease 0.2s;
}

.registro-notas .tabs-right > .nav-tabs > li.tab_hoja > a:hover,
.registro-notas .tabs-right > .nav-tabs > li.tab_hoja > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #fff;
    opacity: 1;
}

.registro-notas .tabs-right > .nav-tabs > li.tab_hoja > a {
    background: #bbb;
    color: #444;
    opacity: 0.6;
}

.registro-notas .nav-tabs > li:focus, 
.registro-notas .nav-tabs > li > a:focus {
    outline: 0;
}

.registro-notas .tabs-right > .nav-tabs > li.tab_hoja.active > a {
    background: #fff;
    color: #444;
    opacity: 1;
}

.registro-notas .tabs-left > .nav-tabs > li,
.registro-notas .tabs-right > .nav-tabs > li {
    float: left;
}

.modal button.subir-archivo {
    overflow: hidden;
}

.modal button.subir-archivo input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.modal .btns-cursos > div {
    margin-bottom: 15px;
}

#mdl_buscar_alumno_notas .panel .panel-heading span, 
#mdl_buscar_alumno_notas .panel .panel-body table tbody td.key-col span,
#ver-notas-alumno #resultados-notas table tbody td span,
#ver-notas-alumno .panel .panel-heading span {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px;
    padding: 2px 4px;
}

#mdl_buscar_alumno_notas .panel .panel-body table tbody td.key-col {
    width: 55%;
}

#mdl_buscar_alumno_notas .panel .panel-body table tbody td.aprobado-col.aprobado {
    color: #395ee8;
}

#mdl_buscar_alumno_notas .panel .panel-body table tbody td.aprobado-col.desaprobado {
    color: #f33838;
}