ul.nav-wizard {
    /*background-color: #f1f1f1;
    border: 1px solid #d4d4d4;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
  }
  ul.nav-wizard:before {
    position: absolute;
  }
  ul.nav-wizard:after {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 138px;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 11;
    content: " ";
  }
  ul.nav-wizard li {
    position: relative;
    /*float: left;*/
    height: 46px;
    display: inline-block;
    text-align: center;
    padding: 0 6px 0 20px;
    margin: 0;
    font-size: 14px;
    line-height: 46px;
  }
  ul.nav-wizard li a {
    color: #428bca;
    padding: 0;
  }
  ul.nav-wizard li a:hover {
    background-color: transparent;
  }
  ul.nav-wizard li:before {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #d4d4d4;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -16px;
  }
  ul.nav-wizard li:after {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #f1f1f1;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -15px;
  }
  
  ul.nav-wizard li.active {
    color: #3a87ad;
    background: #dedede;
  }
  ul.nav-wizard li.active:after {
    border-left: 16px solid #dedede;
  }
  
  ul.nav-wizard li.active a,
  ul.nav-wizard li.active a:active,
  ul.nav-wizard li.active a:visited,
  ul.nav-wizard li.active a:focus {
    color: #989898;
    /*background: #dedede;*/
  }
  ul.nav-wizard .active ~ li {
    color: #999999;
    /*background: #f9f9f9;
    border: 1px solid #e6e6e6;*/
  }
  ul.nav-wizard .active ~ li:after {
    border-left: 16px solid #f9f9f9;
  }
  ul.nav-wizard .active ~ li a,
  ul.nav-wizard .active ~ li a:active,
  ul.nav-wizard .active ~ li a:visited,
  ul.nav-wizard .active ~ li a:focus {
    color: #999999;
    /*background: #f9f9f9;*/
  }
  ul.nav-wizard.nav-wizard-backnav li:hover {
    color: #468847;
    background: #f6fbfd;
  }
  ul.nav-wizard.nav-wizard-backnav li:hover:after {
    border-left: 16px solid #f6fbfd;
  }
  ul.nav-wizard.nav-wizard-backnav li:hover a,
  ul.nav-wizard.nav-wizard-backnav li:hover a:active,
  ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
  ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
    color: #468847;
    background: #f6fbfd;
  }
  ul.nav-wizard.nav-wizard-backnav .active ~ li {
    color: #999999;
    background: #ededed;
  }
  ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
    border-left: 16px solid #ededed;
  }
  ul.nav-wizard.nav-wizard-backnav .active ~ li a,
  ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
  ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
  ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
    color: #999999;
    background: #ededed;
  }
  #ultabs{ background: #ecf2f9e0; padding: 0.25ex; }	
  #ultabs li b.number{ font-size: 1.2em; }
  #ultabs li.active{ background:#047bfc;}
  #ultabs li.active a { color:#f7f1f1; }
  #ultabs li.active:after { border-left: 16px solid #047bfc; }
  #ultabs li.visto{ background:#047bfc;}
  #ultabs li.visto a { color:#f7f1f1; }
  #ultabs li.visto:after { border-left: 16px solid #047bfc; }
  #ultabs li.selected{
    background:#FFC107;    
  }
  #ultabs li.selected:after{
    border-left: 16px solid #FFC107;
  }