<!DOCTYPE html>
<html lang="es" ng-app='angularRoutingApp'>
<style>
  .collapse a{
  font-size: 1.2rem;
  }
  h5{
    display: inline-block;
    font-size: 1.2rem !important;
    margin: 5px;
  }
</style>
<head>
	<!-- Bootstrap 3.3.4 -->
    <link href="../modbiblioteca2/vendor/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="../modbiblioteca2/css/estilos-admin.css" rel="stylesheet" type="text/css" />
    <link href="../modbiblioteca2/vendor/adminlte/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <script src="../static/tema/js/jquery.min.js"></script>
    <script src="../static/tema/js/jquery-ui.min.js"></script>
    <script src="../static/tema/js/jquery.slides.min.js"></script>
    <link rel="stylesheet" href="../static/tema/css/jquery-ui.min.css"></link>
    <link rel="stylesheet" href="../static/tema/css/hover.css"></link>
	<title translate="TITLE"></title>
</head>
<body ng-controller='mainController' >
      <header class="encabezado navbar fixed-top" role="banner">
        <div class="container" style="width:100%">
          <button type="button" class="boton-menu" id="menu" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
         <button type="button" class="boton-menu" id="menu2" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
             <li class="dropdown-menu-right" id="account" style="list-style:none"> 
                    <a href="/#" class="dropdown-toggle hvr-buzz-out" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle " id="usuario" style="color:#fff; font-size:30px"></i>
                    </a>
                    <a  id="cuadros" ng-click="lateral()">
                        <i class="fa fa-th-large" style="color:#fff; font-size:30px;margin-left: 20px"></i>
                    </a>
                    <a  id="cerrar-lateral" ng-click="lateralcerrar()" style="display:none;">
                        <i class="fa fa-times" style="color:#fff; font-size:30px;margin-left: 20px"></i>
                    </a> 
                    <div class="user-menu dropdown-menu dropdown-menu-right">
                        <div class="account-info">
                            <a class="user-photo">
                                <img src="./app/images/user_avatar.jpg" alt="user" class="img-responsive">
                            </a>
                            <div class="data-user">
                                <div class="user-name">PvIngles</div>
                                <div class="user-name">email@gmail.com</div>
                                <div class="user-name">97658245
                              </div>

                            </div>
                        </div>
                        <div class="action-buttons">
                            <div>
                                <a href="#/favoritos" class="btn btn-default capitalize"><i class="fa fa-star-o fa-1x"></i><h5 translate="favoritos" style="font-size:1rem !important; font-weight: inherit;margin: auto;"></h5></a>
                            </div>
                            <div>
                                <a href="../" class="btn btn-default capitalize" translate="cerrar"></a>
                            </div>
                        </div>
                    </div> 
                </li>
      </button>
        <nav class="collapse" id="menu-principal">
            <ul>  
              <li><a ng-href="#/"  translate="inicio"></a></li>
              <li><a ng-href="#/libros" translate="libros"></a></li>
              <li><a ng-href="#/audio" translate="musica"></a> </li>
              <li><a ng-href="#/" translate="audiolibros"></a></li>
              <li><a ng-href="#/video" translate="videos"></a></li>
              <li><a ng-href="#/biblioteca" translate="biblioteca"></a></li>
              <li><a ng-href="#/museo" translate="museo"></a></li>
              <li><a ng-href="#/notas" translate="investigacion"></a></li>
            </ul>
        </nav>
        <nav class="collapse" id="menu-principal1">
            <ul style="padding:0">  
              <li><a ng-href="../"  style="color:#fff; border:0" translate="inicio"></a></li>
              <li><a ng-href="#/"  style="color:#fff; border:0"><i class="glyphicon glyphicon-home" style="font-size: 18px"></i></a></li>
              <li><a ng-click="irLibro()" style="color:#fff; border:0;cursor:pointer"> <i class="glyphicon glyphicon-book" ></i><h5 translate="libros"></h5></a></li>
              <li><a ng-click="irAudio()" style="color:#fff; border:0;cursor:pointer"><i class="glyphicon glyphicon-volume-up" ></i><h5 translate="audiolibros"></h5></a></li>
              <li><a ng-click="irVideo()" style="color:#fff; border:0;cursor:pointer"><i class="fa fa-film" ></i><h5 translate="videos"></h5></a></li>
              <li><a ng-click="irMusica()" style="color:#fff; border:0;cursor:pointer"><i class="glyphicon glyphicon-music" ></i><h5 translate="musica"></h5></a> </li>
              <li><a ng-click="irBiblioteca()" style="color:#fff; border:0;cursor:pointer"><i class="fa fa-university" ></i><h5 translate="biblioteca"></h5></a></li>
              <li><a ng-click="irMuseo()" style="color:#fff; border:0;cursor:pointer"><i class="glyphicon glyphicon-home" ></i><h5 translate="museo"></h5></a></li>
              <li><a href="#/notas" style="color:#fff; border:0;cursor:pointer"><i class="glyphicon glyphicon-pushpin"></i><h5 translate="investigacion"></h5></a></li>
             <!-- <li><a ng-click="lang('es')" translate="ES_BTN" style="color:#fff; border:0;cursor:pointer"></a></li>
              <li><a ng-click="lang('en')" translate="EN_BTN" style="color:#fff; border:0;cursor:pointer"></a></li>-->
            </ul>
        </nav>
        <div class="col-xs-12" id="menu-left" style="height: 693px;width: 6%;display: initial;background: #f4f4f4;margin-top: 50px;position: absolute;right: 0px;top: 0px;z-index: 1;box-shadow: -15px -10px 8px -14px #777;border-top: 1px black solid;padding-left: 0px;padding-right: 0px;display: none;">
            <a class="btn btn-toolbar changeidioma" id="ingles" ng-click="lang('en')" style="background-color: #f4f4f4;border-bottom: 1px black solid;border-radius: 0;color: #555;margin: 0px;padding-top: 15px;padding-bottom: 15px;width: 100%;">
              <i class="fa fa-language hvr-float" aria-hidden="true" style="font-size: 2.5em;"></i>
            </a> 
            <a class="btn btn-toolbar changeidioma" id="espanol" ng-click="lang('es')" style="display:none;background-color: #f4f4f4;border-bottom: 1px black solid;border-radius: 0;color: #555;margin: 0px;padding-top: 15px;padding-bottom: 15px;width: 100%;">
              <i class="fa fa-language hvr-float" aria-hidden="true" style="font-size: 2.5em;"></i>
            </a> 
        </div>
      <div class="social">
          <ul>
              <li><a class="texto grabaciones" href="#"><span translate="grabar">Grabar</span><i class="glyphicon glyphicon-play"></i></a></li>
          </ul>
      </div>
    </div>
</header>
	<div id="main">
		<div ng-view>
		</div>
	</div>

<!-- Modal -->
<div class="modal fade" id="modalGrabar" tabindex="-1" role="dialog" aria-labelledby="modalGrabar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalGrabar" translate="grabacion"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> <span translate="cargando"></span>
        </h1>
      </div>
    </div>
  </div>
</div>


<script src="../modbiblioteca2/vendor/angular/angular.js"></script>
<script src="../modbiblioteca2/vendor/angular-route/angular-route.js"></script>
<script src="../modbiblioteca2/vendor/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="../modbiblioteca2/vendor/angular-translate/angular-translate.js"></script>
<script src="../modbiblioteca2/vendor/angular-translate/angular-translate.min.js"></script>
<script src="./main.js"></script>
<script src="./scripts.js"></script>
<script src="../modbiblioteca2/vendor/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/libs/sliders/slick/slick.min.js"></script>
<script>
  var crearModal = function(){
      var $modal=$('#modalGrabar');
        $modal.modal({keyboard:false, backdrop:'static'});
        $.get('../bib_grabacion/agregar', function(data) {
          
           $modal.find('.modal-body').html(data);
        });
    };
   $(function () { 
    $("[data-toggle = 'tooltip']").tooltip() 
    $('.grabaciones').click(function(e) {
      e.preventDefault();
      crearModal();
    });

  });
</script>
</body>
</html>