<link href="./css/estilospag.css" rel="stylesheet" type="text/css" />
<style>
.cont-img{
  border:  1px solid #4466bb;
}
  .i{
    border:  1px solid #4466bb;
    background: #fff;
  }
  .i:hover{
    background: #4466bb;
  }

  .pagination{
    float: right;
    font-size: 1rem;
  }
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        float: right;
        padding: 20px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
#btnHistorial{
  color: white;
}
#btnHistorial:hover{
  color: white;
}
</style>
<body>
<div class="container nuevo">
<div class="row" style="padding: 0 15px">
  <a id="btnHistorial" class="btn btn-primary" type="submit" onclick="goBack()" style="display:block; width:10%"><i class="fa fa-arrow-left" style="margin-right:5px"></i><h5 translate="atras" style="margin:auto"></h5></a>
</div>
  <div class="row">
    <div class="col-md-12">
            <div class="col-md-6 input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="{{'buscar' | translate}}" ng-model="buscar"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-primary dropdown-toggle flecha" data-toggle="dropdown" aria-expanded="false" style="height: 34px;border-radius: 4px;border: 0;color: white;padding-right: 20px;"><span class="caret" ng-click="resultado()"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter" translate="categorias"></label>
                                    <div class="cajaselect">
                                      <select class=" form-control conestilo" ng-model="buscar.categorias_id" ng-options="item.id_categoria as item.descripcion for item in categorias" style="z-index: 0;">
                                          <option value="" translate="seleccione"></option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain" translate="autor"></label>
                                    <div class="cajaselect">
                                      <select class=" form-control conestilo" ng-model="buscar.autor_id" ng-options="item.id_autor as item.nombre+' '+item.ap_paterno+' '+item.ap_materno for item in autor" style="z-index: 0;">
                                      <option value="" translate="seleccione"></option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain" translate="idioma"></label>
                                    <div class="cajaselect">
                                      <select class=" form-control conestilo" ng-model="buscar.idioma_id" ng-options="item.descripcion for item in idioma" style="z-index: 0;">
                                      <option value="" translate="seleccione"></option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain" translate="contain"></label>
                                    <input class="form-control" type="text" placeholder="{{'palabra' | translate}}" ng-model="texto"/>
                                  </div>
                                  <div class="form-group" style="display:none">
                                    <div class="cajaselect">
                                      <select class=" form-control conestilo" ng-model="buscar.id_registro" ng-options="item.descripcion for item in idioma" style="z-index: 0;">
                                      <option value="7"></option>
                                      </select>
                                    </div>
                                  </div>                      
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="resultadoAvanzado()"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" style="height: 34px;"><span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="resultado()"></span></button>
                    </div>
                </div>
                </div>
            </div>
  </div>
  <div class="panel-body" id="nuevoante">

    <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <div class="hvr-float cont-img" ng-repeat="row in estudio" ng-if="row.id_tipo==8">
        <a ng-href="{{'http://'+row.link}}" target="_blank">
            <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" style="width: 100%; overflow: hidden"></a>
            <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
        </div>              
    </div>

 <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(1)" translate="primera">First</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)" translate="anterior">Previous</a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                    <a ng-click="setPage(page)">{{page}}</a>
                </li>                
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)" translate="siguiente">Next</a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)" translate="ultima">Last</a>
                </li>
            </ul>
    </div>

    <div class="container" id="nuevo25" style="display:none">
        <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
          <div class="hvr-float cont-img" ng-repeat="row in estudio">
               <div class="namelevel text-right i">
                 <a href="" ng-click="agregarFavorito(row.id_estudio)"><i class="fa fa-star-o"></i></a>
            </div>
                <img class="img img-responsive" src="../static/libreria/image/{{row.foto}}" ng-click="verAudio(row.id_estudio)" style="width:100%; overflow: hidden">

                <div class="namelevel text-center"><strong>{{row.nombre}}</strong></div>
            </div>              
        </div>
        <ul ng-if="pager.pages.length" class="pagination">
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(1)" translate="primra"></a>
                </li>
                <li ng-class="{disabled:pager.currentPage === 1}">
                    <a ng-click="setPage(pager.currentPage - 1)" translate="anterior"></a>
                </li>
                <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                    <a ng-click="setPage(page)">{{page}}</a>
                </li>                
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.currentPage + 1)" translate="siguiente"></a>
                </li>
                <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                    <a ng-click="setPage(pager.totalPages)" translate="ultima"></a>
                </li>
            </ul>

      </div> 
      <div id="museo" style="display:none;margin-left: 20px">
              <a ng-click="irMuseo()" class="btn-primary" type="submit" style="float:left;cursor:pointer;padding: 0 10px;color:#fff" translate="atras"></a></div>
          </div>
    </div>
<script type="text/javascript">
    function goBack() {
      window.history.back();
    }
</script> 
</body>