<link href="./css/estilos-nuevo.css" rel="stylesheet" type="text/css" />
<link href="../frontend/plantillas/tema1/css/inicio1.css" rel="stylesheet" type="text/css" />
<body>
    <div class="container container1" style="background:white">
        <div class="panel-body">
            <div class="panel pnl100">
            <div class="panel-body">
 
               <div class="panel col-xs-12 col-sm-12 col-md-12">
                    <div class="panel-body">
                    <!--TIPO DE REGISTRO-->
                      <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="form-group">
                          <div class="input-group cajaselect">
                            <span class="input-group-addon" translate="tipo"></span>
                            <select disabled class="conestilo">
                                <option value="3" translate="servicios"></option>
                            </select>
                          </div> 
                        </div>
                      </div>
                    </div>
              </div>

              <div class="panel col-md-12">
            <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 0px;">
                <div class="panel-body" style="padding-bottom: 21px; ">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                           <div class="input-group">
                             <label for="" translate="titulo"></label>
                            </div>
                            <input type="text" class="form-control gris" id="titulo" name="titulo" placeholder="Escriba el título" value="" ng-model="estudio.nombre"> </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                          <div class="input-group cajaselect">
                              <span class="input-group-addon" translate="tipo">Tipo</span>
                              <select class="conestilo" name="" id="" ng-for="item.id_registro==3" ng-options="item.id_tipo as item.nombre for item in tipo" ng-model="estudio.id_tipo">
                                  <option value="" translate="seleccionar"></option>
                              </select></div>
                        </div>     
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                               <div class="input-group">
                                  <span class="input-group-addon">Link</span>
                                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="estudio.link">
                                </div>                            
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                               <div class="input-group">
                                  <span class="input-group-addon" translate="pais"></span>
                                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="estudio.lugar">
                                </div>                            
                            </div>
                    </div>
                </div>
            </div>
            <div class="panel col-xs-12 col-sm-6 col-md-6" id="imagen" style="padding: 0px;">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div style="text-align: center; max-height: 250px; overflow: hidden;"> 
                        <div class="img-container" style="position: relative;">
                      <input type="file" class="cargarfile" data-tipo="image" data-target="hImgPortada" accept="image/*" style="position: absolute; opacity: 0; height: 150px; cursor: pointer" disabled>
                      <img src="./app/images/nofoto.jpg" class="img-responsive" alt="imgfoto" id="imgPortada" style="height: 150px; display: inline;" disabled>
                      <input type="hidden" name="hImgPortada" id="hImgPortada" value="" disabled>
                    </div>
                      
                    <div class="col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-top: 1.5rem;">
                    <input type="text" class="form-control gris" name="foto" placeholder="Escriba el nombre de la foto" value="" ng-model="estudio.foto"> 
               
                 <!--<span class="btn btn-default btn-file"> 
                  <i class="fa fa-upload"></i> Seleccionar Documento 
                  <input data-texto="Documento" data-campo="archivo" data-action="https://edutec1.com/ingles/frontend/bib_libro/subir_archivo/?arc=archivo&amp;tipo=doc" type="file" uploader-model="fileArchivo" name="fileArchivo" id="fileArchivo" class="cargarfile" data-tipo="pdf" data-target="hNombreArchivo" accept="*">
                  <input type="hidden" name="hNombreArchivo" id="hNombreArchivo" value="">
                </span>-->
                    </div>
                            </div>
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
            </div>
            </div>
            <hr>
         <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <br>
          <a type="button" class="btn btn-success" ng-click="guardarEstudios()" href="./#/servicios" data-dismiss="modal"><i class=" fa fa-save" style="margin-right:5px;color:#fff"></i><h5 translate="guardar" style="display:inline-block; font-size: 1rem;margin: 0;color:#fff"></h5></a>
          <a type="button" class="btn btn-danger" data-dismiss="modal" href="./#/servicios"><i class=" fa fa-times" style="margin-right:5px"></i><h5 translate="cancelar" style="display:inline-block; font-size: 1rem;margin: 0;"></h5></a>

          <a href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCorreos"><i class="glyphicon glyphicon-envelope 1x"></i> Enviar Correo</a>
        </div>   
            
            
            </div>
</div></div></div>

<!--============ modal correos==============-->

<div id="myModalCorreos" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Enviar Correo</h4>
      </div>
      <form method="post">
          <div class="modal-body">
            <p>
            <label id="modalAutor" for="">Destinatario:</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" name="email" class="form-control" ng-model="email.destinatario" placeholder="example@example.com" required="required">
            </div></p> 
            <p>
            <label id="modalAutor" for="">Asunto:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" class="form-control" placeholder="Escriba el asunto del mensaje"  ng-model="email.asunto" required="required">
            </div></p> 
            <p>
            <label id="modalAutor" for="">Mensaje:</label>
            <div class="input-group">
                <textarea name="" id="" cols="auto" rows="auto" ng-model="email.mensaje"></textarea>
            </div></p>        
          </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="enviarCorreo()">Enviar</button>
      </div>
    </div>
  </div>
</div>
</body>