*, body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.row.b1{padding: 1ex 0px;	margin-top:1.5ex;}
.b1{ border:1px solid; }
.table-responsive.b1{ margin-top: 1.5ex; padding: 1ex 0px; }
.table-responsive.b1>div>div{ padding: 1ex; }
.col-p0{ padding: 0px; }
.breadcrumb {padding: 1ex; margin: 0.5ex -15px; }
.breadcrumb a{ color: #fff; }
.breadcrumb li.active{ color:#d2cccc; }
.cajaselect{    padding: 1px; overflow: hidden; width: 100%; position: relative; border-radius: 5px;}
.cajaselect::after{
	font-family: FontAwesome; 
	font-size: 1.3em; 
	content: "\f0dd"; 
	display: inline-block; 
	text-align: center; width: 30px;
    height: 100%;
    background-color: #0070a0;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
    color: #FFF;
    border-radius: 0px 0.3ex 0.3ex 0px;
}
.date > .input-group-addon{ color: #fff; background-color: #0070a0; width: 30px;}
.date.input-group{ width: 100%; margin-top:0px;}
.form-control, .input-group-addon {border: 1px solid #4683af; margin: 0px; }
.form-group label{ font-weight: 500; margin-bottom: 0;}
.form-group label::after{content:" : ";}
.form-group .input-group{margin-top: 0px;}
.input-group .input-group-append .btn{color:#fffffff5; }


.table thead tr{color:#FFFFFFea;}
#modaltitle{width: 90%;}
.toolbarmouse{ width: 100%; position: absolute; top: 0px; background: rgba(255, 255, 253, 0.07);}
.toolbarmouse .btnaddfile i{cursor: pointer;}
.toolbarmouse .btnaddfile{ color: #e40f0f; background-color: #b9d869aa; cursor: pointer;}
.frmchangeimage .toolbarmouse{ display: none; }
.frmchangeimage:hover .toolbarmouse{ display: block; }
.input-file-invisible{
position: absolute;
width: 100%;
z-index: 9999;
cursor: pointer;
left: 0;
top: 0;
opacity: 0;
}
hr{	width: 100%; margin-top: 1ex;  margin-bottom: 1ex;  border: 0;  border-top: 1px solid rgb(119, 161, 194);}
.center-block { display: block; margin-right: auto;  margin-left: auto;}
.sombra1{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(166,171,171,1);
-moz-box-shadow: 0px 0px 13px 1px rgba(166,171,171,1);
box-shadow: 0px 0px 13px 1px rgba(166,171,171,1);
}
.modal-body{
    overflow: hidden;
    overflow-y: scroll;
}

.form-control::-webkit-input-placeholder { color: #007bff70!important}
.form-control::-moz-placeholder { color: #007bff99!important}
.form-control:-ms-input-placeholder { color: #007bff99!important}
.form-control:-moz-placeholder { color: #007bff99!important}
/*~ label*/
input[type="checkbox"]+label::after{
    content: "";   
}
input[type="checkbox"]+label::before{   
    border: 1.2px solid #0070a0;
}

