.panel.pnl-contenedor{
    box-shadow: 3px 3px 10px 3px #ccc;
}

.panel.tarea-item .panel-heading.titulo{
    background: #fff; 
    overflow: hidden; 
    position: relative;
}

.panel.tarea-item .panel-heading.titulo>h2,
.panel.tarea-item .panel-heading.titulo>h3,
.panel.tarea-item .panel-heading.titulo>h4,
.panel.tarea-item .panel-heading.titulo>h5{
    color: #333; 
    font-weight: bolder; 
    height: 26px; 
    margin: 0; 
    overflow: hidden;
    word-break: break-all; 
}

.panel.tarea-item .panel-heading.titulo>.opciones{
    background: #fff;
    height: 25px;
    position: absolute; 
    right: 15px; 
    text-align: right;
    top:10px; 
    width:15%; 
}

.panel.tarea-item .panel-heading.titulo>.opciones a>i{
    font-size: 2em;
}

.panel.tarea-item .panel-body.contenido .portada {
    height: 130px;
}

.panel.tarea-item .panel-body.contenido,
.panel.tarea-item .panel-body.contenido .portada,
.panel.tarea-item .panel-body.contenido .fechahora_presentados{
    padding: 0;
}

.panel.tarea-item .panel-body.contenido .descripcion{
    height: 85px; 
    overflow: hidden;
}

.panel.tarea-item .panel-body.contenido .fechahora_presentados .fecha-entrega{
    margin: 5px 0;
}

.panel.tarea-item .panel-body.contenido .fechahora_presentados .fecha-entrega>.dato,
.panel.tarea-item .panel-body.contenido .fechahora_presentados .asignados>.dato,
.panel.tarea-item .panel-body.contenido .fechahora_presentados .estado_promedio>.dato,
.panel.tarea-item .panel-body.contenido .fechahora_presentados .presentados>.dato{
    font-size: 1.15em;
    font-weight: bold; 
}

.panel.tarea-item .panel-body.contenido .fechahora_presentados .fecha-entrega>.info,
.panel.tarea-item .panel-body.contenido .fechahora_presentados .asignados>.info,
.panel.tarea-item .panel-body.contenido .fechahora_presentados .estado_promedio>.info,
.panel.tarea-item .panel-body.contenido .fechahora_presentados .presentados>.info{
    font-size: .8em;
}

.panel.tarea-item .panel-footer a{
    min-width: 40%;
}

#tarea-list #filtros-actividad{
    margin-bottom: 15px;
}

#tarea-add .contenedor-lista-habilidades {
    max-height: 126px; 
    overflow: auto;
}

#tarea-add #lista-habilidades {
    width: 100%;
}

#tarea-add #lista-habilidades .list-group-item.active {
    border-color: #ddd;
}

#tarea-add .btnadjunto{
    min-width: 42px;
}

#tarea-add .lista-archivos{
    max-height: 138px;
    overflow: auto;
}

#tarea-add .img-portada{
    cursor: pointer;
    max-height: 150px;
}

.input-group{ margin: 0; }

.divResultados div[class^="col-"]{
    padding: 0 2px;
    margin-bottom: 4px;
}
.divResultados .btn{
    overflow: hidden;
}

#tarea-see h1 small,
#tarea-see h2 small,
#tarea-see h3 small,
#tarea-see h4 small{
    color:  #fff;
}

#tarea-see .bg-default h1 small,
#tarea-see .bg-default h2 small,
#tarea-see .bg-default h3 small,
#tarea-see .bg-default h4 small{
    color:  #777;
}

#tarea-see .table-key-value{
    margin-bottom: 1ex;
}

#tarea-see .table-key-value>.table-kv-row>.key{
    width: 143px;
}

#tarea-see  .table-key-value>.table-kv-row>.value{
    word-break: break-word;
}

#tarea-see .panel.asignacion_alumno .alumno_foto{
    padding: 0;
}

#tarea-see .panel.asignacion_alumno .nombre_fecha>.alumno_nombre{
    font-size: 1.7em;
    font-weight: bolder;
}

#tarea-see .panel.asignacion_alumno .puntaje,
#tarea-visor .actual-total{
    text-align: center;
}

#tarea-see .panel.asignacion_alumno .puntaje .obtenido,
#tarea-visor .actual-total .actual{
    font-size: 1.9em;
    font-style: italic;
    font-weight: bolder;
}

#tarea-see .panel.asignacion_alumno .puntaje .total,
#tarea-visor .actual-total .total{
    font-size: 1.3em;
    font-weight: bolder;
}

#tarea-see .panel.asignacion_alumno .puntaje .total:before,
#tarea-visor .actual-total .total:before{
    content: '/';
}

#tarea-see .panel.asignacion_alumno .puntaje small,
#tarea-visor .actual-total small{
    display: block;
}

#tarea-see .panel.asignacion_alumno .panel-footer.ver_respuesta{
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: not-allowed;
    color: #bbb;
}

#tarea-see .panel.asignacion_alumno .panel-footer.ver_respuesta.active{
    background: #5a89f8;
    color: #fff;
    cursor: pointer;
}

#tarea-see .panel.asignacion_alumno .panel-footer.ver_respuesta.active:hover{
    background-color: #486ec9;
}

#tarea-see .panel.asignacion_alumno .panel-body.respuesta #tblRespuestaArchivos{
    margin-bottom: 0;
}

#tarea-see .habilidades div{
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    color: #fff;
    text-align: center;
}
#tarea-see .habilidades .btn-skill{
    background-color: #b9b9b9;
    padding: 8px;
    position: relative;
    margin-bottom: 0%;
    width: 100%;
}

#tarea-see .habilidades.edicion{
    cursor: pointer;
}

#tarea-see .habilidades.edicion .btn-skill:before {
    background: white;
    border: 1px solid #888;
    content: ' ';
    height: 17px;
    left: 3px;
    padding-top: 2px;
    position: absolute;
    top: 3px;
    width: 17px;
}

#tarea-see .habilidades.edicion .btn-skill.active:before {
    color: #777;
    content: "\f00c";
    font: normal normal normal 12px/1 FontAwesome;
}

#tarea-see .habilidades .skill-container:nth-child(6n+1)>.btn-skill.active{ background-color: #f59440; }
#tarea-see .habilidades .skill-container:nth-child(6n+2)>.btn-skill.active{ background-color: #337ab7; }
#tarea-see .habilidades .skill-container:nth-child(6n+3)>.btn-skill.active{ background-color: #5cb85c; }
#tarea-see .habilidades .skill-container:nth-child(6n+4)>.btn-skill.active{ background-color: #5bc0de; }
#tarea-see .habilidades .skill-container:nth-child(6n+5)>.btn-skill.active{ background-color: #7e60e0; }
#tarea-see .habilidades .skill-container:nth-child(6n+6)>.btn-skill.active{ background-color: #d9534f; }
@media (min-width: 1200px){
    .panel.tarea-item .panel-body.contenido .portada img{
        height: 135px;
    }
}

@media (min-width: 385px) and (max-width: 767.99px){
    .panel.tarea-item .panel-heading.titulo>.opciones a>i{
        font-size: 1.5em;
    }
    .panel.tarea-item .panel-body.contenido .portada {
        height: auto;
    }
    #tarea-add .lista-archivos{
        max-height: 200px;
    }
    #tarea-see .table-key-value>.table-kv-row>.key{
        width: auto;
    }
    #tarea-see .panel.asignacion_alumno .nombre_fecha>.alumno_nombre{
        font-size: 1.4em;
    }
}

@media (max-width: 384.99px) {
    .panel.tarea-item .panel-heading.titulo>.opciones a>i{
        font-size: 1em;
    }
    .panel.tarea-item .panel-body.contenido .portada {
        height: auto;
    }
    .panel.tarea-item .panel-body.contenido .fechahora_presentados .fecha-entrega>.dato,
    .panel.tarea-item .panel-body.contenido .fechahora_presentados .estado_promedio>.dato,
    .panel.tarea-item .panel-body.contenido .fechahora_presentados .presentados>.dato{
        font-size: 1.05em;
    }
    .panel.tarea-item .panel-footer a{
        min-width: 60%;
    }
    #tarea-add .lista-archivos{
        max-height: 150px;
    }
    #tarea-see .table-key-value>.table-kv-row>.key{
        width: auto;
    }
    #tarea-see .panel.asignacion_alumno .nombre_fecha>.alumno_nombre{
        font-size: 1.2em;
    }
    #tarea-see .panel.asignacion_alumno .puntaje,
    #tarea-visor .actual-total{
        width: 100%;
    }
    #tarea-see .panel.asignacion_alumno .puntaje .obtenido,
    #tarea-visor .actual-total .actual{
        font-size: 1.4em;
    }
    #tarea-see .panel.asignacion_alumno .puntaje .total,
    #tarea-visor .actual-total .total{
        font-size: 1em;
    }
}