table
{
	border:1px solid #1A88FF;margin-top: 20px;
}
th
{
	height: 30px;line-height: 30px;background-color: #0483BE;text-align: center;font-weight: bold;
	border:1px solid #1A88FF;border-top: 0px none #fff;border-right: 0px none #fff;border-left: 0px none #fff;
	font-family: Arial;font-size: 12px;color:#fff;
}
td
{
	height: 30px;
}
input[type="text"]
{
	border-radius: 3px;padding: 3px;
	border:1px solid #ccc;background-color:#EFEFEF;
}
input[type="password"]
{
	border-radius: 3px;padding: 3px;
	border:1px solid #ccc;background-color:#EFEFEF;
}
textarea
{
	width:300px;height:100px;
	border-radius: 3px;padding: 3px;
	border:1px solid #ccc;background-color:#EFEFEF;outline: 0px;
}
.txtl
{
	width: 250px;
}
.txtm
{
	width: 100px;
}
.txtc
{
	width: 70px;
}
.txtp
{
	width: 40px;
}
input
{
	outline: 0px;
}
select
{
	outline: 0px;
}
.headertd
{
	color:#000;font-weight: bold;width:100px;text-align: center;text-transform: capitalize;font-size: 11px;
}
select
{
	border-radius: 3px;padding: 3px;
	border:1px solid #ccc;background-color:#EFEFEF;
}
.titheader
{
	text-indent: 20px;font-size: 16px;color:#042D59;line-height: 30px;font-weight: bold;text-decoration: underline;
}
#lfoto
{
	width:100px;height: 100px;
	border:1px dotted #999;background-color: #EFEFEF;
}
.filefoto
{
width: 100px;height: 100px;border:1px solid blue;position: absolute;
opacity: 0.0;
	filter: alpha(opacity=0);
}
#viewsecc
{
	width:98px;height:84px;background-color:#E6E6E6;position:absolute;margin-left:81px;margin-top:-2px;border:1px solid #A1A1A1;display:none;
}
.bts
{
	box-shadow:0px 0px 5px #333;cursor:pointer;width:100px;line-height: 24px;background-color: #87CAFC;background-image:url('../images/grabar.png');border-radius: 3px;border:0px none #fff;font-weight: bold;font-size: 12px;
}
.btsa
{
	box-shadow:0px 0px 5px #333;cursor:pointer;width:180px;line-height: 24px;background-color: #87CAFC;border-radius: 3px;border:0px none #fff;font-weight: bold;font-size: 12px;
}
.btr
{
	box-shadow:0px 0px 5px #333;cursor:pointer;width:100px;line-height: 24px;background-color:#87CAFC ;background-image:url('../images/cancelar.png');border-radius: 3px;border:0px none #fff;font-weight: bold;font-size: 12px;
}
.btb
{
	box-shadow:0px 0px 5px #333;cursor:pointer;width:100px;line-height: 24px;background-color: #87CAFC;background-image:url('../images/salir.png');border-radius: 3px;border:0px none #fff;font-weight: bold;font-size: 12px;
}
.btag
{
	box-shadow:0px 0px 5px #333;cursor:pointer;width:100px;line-height: 24px;background-color: #87CAFC;background-image:url('../images/agregar.png');border-radius: 3px;border:0px none #fff;font-weight: bold;font-size: 12px;
}
.btgenerate
{
	width:80px;line-height: 20px;background-color: #87CAFC;border-radius: 3px;border:0px none #fff;font-weight: bold;font-size: 12px;
}

.slub
{
float: left;width: 230px;margin-left: 5px; 
}
.ubs
{
	font-size: 11px;width: 140px;font-weight: bold;
}
.bselect
{
	width:160px;line-height: 20px;border:0px none #fff;text-align: right;background-image: url('../images/seleccionar.png');
	cursor: pointer;
}
.listado td
{
	height: 30px;border:1px solid #ccc;border-top:0px none #ccc;border-left:0px none #ccc;border-right:0px none #ccc;
	text-align: center;font-size: 12px;font-family: Arial;background-color: #FFF;text-align: center;
}
.listado:hover td
{
	background-color: #E8F3FC;
	text-align: center;
}
 
.cabtb
{
	width:500px;margin: 0 auto;background-color:#042D59;text-align: center;line-height: 25px;color:#fff;font-weight: bold; 
}
.closelight
{
	width:20px;height: 20px;margin-top: 2px;float: right;background-color: #000;color:#fff;border-radius: 20px;text-align: center;
	line-height: 20px;cursor: pointer;
}
.btnmore
{
	width:700px;height:40px;margin-left:50px;line-height: 40px;
}
.lsmobiliario
{
	width:700px;height:100px;margin: 20px auto;background-color:#C9EFE0;box-shadow: 0px 0px 10px #7C9F8B;
}
.mbtp
{
	width:700px;height:30px;font-weight: bold;line-height: 30px;text-indent:  20px;border: 1px solid red;
}
.mbde
{
	width:700px;height:40px;;text-indent:  20px;
}
.mbct
{
	width:700px;height:30px;line-height: 30px;text-indent:  20px;
}
#newmob
{
	display: block;
}
.ctds
{
	font-weight: bold;
}

.nivelesregal
{
	width:780px;height:25px;margin: 0 auto;
}
.opcionesalreg
{
	height:25px;float: left;
}

#cargapadres
{

	width:785px;margin:0 auto;overflow: hidden;
}
#existcontrols
{
 line-height: 25px;margin-top: 10px;display: none;
}
.etitcbpd
{
	font-weight: bold;display: block;width:90px;text-align: center;line-height: 20px;float: left;
}
.cbpadres
{
	width:250px;float: left;overflow: hidden;
}
.controlbp
{
	width:150px;float: left;
}
#ctsno
{
	display: none;
}
#nomp
{
	display: none;
}
#nomm
{
	display: none;
}
#otap
{
	display: none;
}
#otapd
{
	display: none;
}